{% if html %}
    <div id="property-filters">
        <div class="filter-prototype">
            <select>
                <option value="and" selected="selected">All filters must apply</option>
                <option value="or">At least one filter needs to apply</option>
                <option value="custom">Specify a custom boolean expression</option>
            </select>

            <input type="text" id="filter-prototype-str" placeholder="e.g [1] && ([2] || [3])" />
        </div>

        <div id="all-filters">

        </div>

        <div class="select-filter-type">
            <span>Select filter type:</span>
            <select>
                <option value=""></option>
                <option value="str">String</option>
                <option value="num">Number</option>
                <option value="date">Date</option>
                <option value="list">Specify values</option>
            </select>
        </div>

        <div class="filter-type filter-type-str">
            <span>Value </span>
            <select>
                <option value="contains">contains</option>
                <option value="eq">is equal to</option>
                <option value="neq">not equal to</option>
                <option value="starts">starts with</option>
                <option value="ends">ends with</option>
                <option value="language">in language (if given): </option>
                <option value="regex">follows the regular expression:</option>
            </select>

            <input type="text" placeholder="value"/>

            <div class="right">
                <input type="checkbox" id="case-sensitive" default="false" />
                <label for="case-sensitive">Case sensitive</label>
            </div>
        </div>

        <div class="filter-type filter-type-num">
            <span>Value </span>
            <select>
                <option value="eq">=</option>
                <option value="neq">!=</option>
                <option value="lt">&lt;</option>
                <option value="lte">&lt;=</option>
                <option value="gt">&gt;</option>
                <option value="gte">=&gt;</option>
            </select>

            <input type="number" placeholder="value"/>
        </div>

        <div class="filter-type filter-type-date">
            <span>Value </span>
            <select>
                <option value="eq">=</option>
                <option value="neq">!=</option>
                <option value="lt">&lt;</option>
                <option value="lte">&lt;=</option>
                <option value="gt">&gt;</option>
                <option value="gte">&gt;=</option>
            </select>

            <input type="date" placeholder="value"/>
        </div>

        <div class="clearfix">
            <span class="done button orange right">Done</span>
            <span class="add-filter button blue right">+Add filter</span>
        </div>
    </div>
{% endif %}

{% if js %}
    <script>
        $(function() {
            $("#property-filters").dialog({
                autoOpen: false,
                width: 600
            });

            //initially hide all categories
            $(".filter-type").hide();
            //hide custom prototype text
            $("#filter-prototype-str").hide();
        });

        /*On filter prototype change*/
        $(".filter-prototype select").change(function() {
            var val = $(this).val();

            if (val == "custom" ) {
                $("#filter-prototype-str").show();
            } else {
                $("#filter-prototype-str").hide();
            }
        });

        /*On data type change*/
        $("#property-filters .select-filter-type select").change(function() {
            var val = $(this).val();

            if (val == "str")
                $("#property-filters .filter-type-str").show();
            else
                $("#property-filters .filter-type-str").hide();

            if (val == "num")
                $("#property-filters .filter-type-num").show();
            else
                $("#property-filters .filter-type-num").hide();

            if (val == "date")
                $("#property-filters .filter-type-date").show();
            else
                $("#property-filters .filter-type-date").hide();
        });

        function show_filters() {
            $("#property-filters").dialog("open");
            $("#all-filters").html('');

            if (builder_workbench.property_selection) {
                var p = builder_workbench.property_selection;
                var cnt = 0;
                $("#all-filters").html('');

                for (var i=0; i<p.filters.length; i++) {
                    if (p.filters[i] == undefined) continue;

                    cnt++;
                    $("#all-filters").append('<div class="filter-object">' + p.filters[i].operator_label + ' ' +p.filters[i].value + '<span class="filter-id">[' + i + ']</span><span class="filter-remove" data-about="' + i + '">x</span></div>');
                }

                if (cnt == 0) {
                    $("#all-filters").html('No filters applied.');
                }
            }
        }


        $(".add-filter").click(function() {
            //create the new filter object
            var nf = {};
            nf.type = $("#property-filters .select-filter-type select").val();
            nf.operator = $(".filter-type-" + nf.type + " select").val();
            nf.operator_label = $(".filter-type-" + nf.type + " select option:selected").text();
            nf.value = $(".filter-type-" + nf.type + " input").val();
            if (nf.type == "str") {
                nf.case_sensitive = $("#case-sensitive").is(':checked');
            }

            //save the new filter and refresh
            builder_workbench.property_selection.filters.push(nf);
            show_filters();
        });

        $(".done").click(function() {
            var n = 0;
            var p = builder_workbench.property_selection;
            var f_proto_val = $(".filter-prototype select").val();
            var proto = "";

            if ((f_proto_val == "and") || (f_proto_val == "or")) { //automatically create the prototype
                for (var f=0; f<p.filters.length; f++) {
                    if (p.filters[f] == undefined) continue;

                    n++;
                    proto += '[' + f + ']';
                    if (f < p.filters.length - 1) {
                        if (f_proto_val == "and") {
                            proto += ' && ';
                        } else {
                            proto += ' || ';
                        }
                    }
                }
            } else { //get prototype from user
                proto = $("#filter-prototype-str").val();
            }

            p.filter_prototype = proto;
            $("#property-filters").dialog("close");

            //add icon to show which properties have filters
            if (n>0) {
                $('#class_instance_' + builder_workbench.property_selection_of_instance + ' .property-row:nth-of-type(' + (builder_workbench.property_selection.n+2) + ') span:nth-of-type(5)').html('<span class="ui-icon ui-icon-check"></span>Edit');
            } else {
                $('#class_instance_' + builder_workbench.property_selection_of_instance + ' .property-row:nth-of-type(' + (builder_workbench.property_selection.n+2) + ') span:nth-of-type(5)').html('Edit');
            }

            //reset the query
            builder.reset();
        });

        $("body").on('click', '.filter-remove', function() {
            var f = $(this).data('about');
            builder_workbench.property_selection.filters[f] = undefined;
            show_filters();
        });
    </script>
{% endif %}