{% extends "base.html" %}
{% load i18n %}
{% load app_filters %}
{% block title %}{% trans "Advanced Query Builder | LinDA" %}{% endblock %}
{% block bodyclass %}builder-advanced{% endblock %}

{%block css %}
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css" />

    <link data-turbolinks-track="true" href="/static/query-builder/stylesheets/_variables.css?body=1" media="all" rel="stylesheet" />
    <link data-turbolinks-track="true" href="/static/query-builder/stylesheets/bootstrap.css?body=1" media="all" rel="stylesheet" />
    <link data-turbolinks-track="true" href="/static/query-builder/stylesheets/bootstrap.min.css?body=1" media="all" rel="stylesheet" />
    <link data-turbolinks-track="true" href="/static/query-builder/stylesheets/common.css?body=1" media="all" rel="stylesheet" />
    <link data-turbolinks-track="true" href="/static/query-builder/stylesheets/developer.css?body=1" media="all" rel="stylesheet" />
    <link data-turbolinks-track="true" href="/static/query-builder/stylesheets/query.css?body=1" media="all" rel="stylesheet" />
    <link data-turbolinks-track="true" href="/static/query-builder/stylesheets/application.css?body=1" media="all" rel="stylesheet" />
    <link data-turbolinks-track="true" href="/static/query-builder/stylesheets/gritter.css?body=1" media="all" rel="stylesheet" />

{% endblock %}

{% block content %}
    {% with toolbar_id="toolbar" html=True %}
        {% include "builder_advanced/toolbar.html" %}
    {% endwith %}

    <div id="builder_workspace">
        <span>{% trans "Drag and drop classes here to create a query"%}</span>
        <canvas id="builder-canvas"></canvas>
    </div>

     <div class="row qb-equivalent-query-main" style="display:none;">
            <div class="col-md-12">
                {% include 'query-builder/sparql-query-editor.html' %}
            </div>
        </div>

    {% with in_query_builder_action=True %}
        {% include 'query-builder/search-results.html' %}
    {% endwith %}

    {% include 'query-builder/search-results.html' %}

    <input type="hidden" id="hdn_qb_dataset" value="">

    {% with html=True %}
        {% include "builder_advanced/filters.html" %}
    {% endwith %}

{% endblock %}

{% block scripts %}
    <script src="/static/js/jquery-ui.min.js"></script>

    <script>
        {% include "builder_advanced/arrows.js" %}

        $().ready(function() {
            $("#builder-canvas").attr({'width':$("#builder_workspace").width(), 'height':$("#builder_workspace").height()});
            arrows.set_canvas("builder-canvas");

            //show the sparql query
            $(".qb-equivalent-query-main").show();
        });
    </script>

    <script>
        var ADVANCED_BUILDER_API_URI = "/builder-advanced/api/";

        //set data source endpoints
        var total_endpoints = {};
        {% for datasource in datasources %}
            total_endpoints['{{datasource.name}}'] = '{{datasource|get_endpoint}}';
        {% endfor %}

        /*Get a humanized label from a resource URI*/
        uri_to_label = function(uri) {
            if (uri == "URI") return "URI";

            uri = decodeURIComponent(uri);
            var spl = uri.split('/');
            var label = spl.pop();

            var start_pos = 0;
            if (label.indexOf('#') >= 0) {
                if (label.substr( label.indexOf('#') + 1).length > 0) {
                    label = label.substr( label.indexOf('#') + 1);
                } else {
                    label = label.substr(0, label.indexOf('#'));
                }
            }
            label = label.replace(/_/g, ' ');
            label = label.replace(/-/g, ' ');

            label = label
                // insert a space before all caps
                .replace(/([A-Z])/g, ' $1')
                // uppercase the first character
                .replace(/^./, function(str){ return str.toUpperCase(); });

            if (label[0] == ' ') {
                return label.substr(1);  //remove the initial space
            } else {
                return label;
            }
        }

        {% include "builder_advanced/builder_workbench.js" %}

        /*Drag & Dropping*/
        $("#builder_workspace").mouseup(function(e) {
            if ((e.which == 1) && builder_workbench.selection) { //only for left click and when a class selection has been made
                if (builder_workbench.selection.type == "class") {
                    builder_workbench.add_instance(builder_workbench.selection.dt_name, builder_workbench.selection.uri, e.pageX - $(this).position().left, e.pageY - $(this).position().top);
                } else {
                    var i_num = builder_workbench.instances.length;

                    builder_workbench.add_instance(builder_workbench.selection.dt_name, builder_workbench.selection.domain, e.pageX - $(this).position().left - 300, e.pageY - $(this).position().top, builder_workbench.selection.uri);
                    builder_workbench.add_instance(builder_workbench.selection.dt_name, builder_workbench.selection.range, e.pageX - $(this).position().left + 300, e.pageY - $(this).position().top);

                    arrows.add_arrow('#class_instance_' + i_num, 1, '#class_instance_' + (i_num+1), 0);
                }

                builder_workbench.selection = undefined;
                $(this).removeClass("accepting-instance");
            }
        });

        $("#builder_workspace").mouseover(function(e) {
            if (builder_workbench.selection) {
                $(this).addClass("accepting-instance");
            }
        });

        $("#builder_workspace").mouseleave(function(e) {
            if (builder_workbench.selection) {
                $(this).removeClass("accepting-instance");
            }
        });

        /*Handle hover on arrows*/
        $("#builder-canvas").on('mousemove', function(e) {
            if (!builder_workbench.connection_from) {
                arrows.over_arrows(e.screenX - $(this).offset().left, e.screenY - $(this).offset().top - 60);
            }
        });

        /*Handle clicks on arrows*/
        $("#builder-canvas").click(function(e) {
            if (!builder_workbench.connection_from) {
                arrows.in_arrows(e.screenX - $(this).offset().left, e.screenY - $(this).offset().top - 60);
            }
        });

        $("body").on('keyup', function(e) {
            if (e.keyCode == 46) { //DELETE key pressed
                arrows.delete_selected();
                builder.reset();
            }
        });
    </script>

    {% with toolbar_id="toolbar" js=True %}
        {% include "builder_advanced/toolbar.html" %}
    {% endwith %}

    {% with js=True %}
        {% include "builder_advanced/filters.html" %}
    {% endwith %}

    <script>
        function save_query() {
            //TODO: Improve the save_query function to store designer info along with the SparQL query
            $.ajax({
                url: "/query-builder/save/",
                type: "POST",
                data: {
                    endpoint: endpoint_uri,
                    endpointName: dt_name,
                    query: $("#txt_sparql_query").val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data, textStatus, jqXHR)
                {
                    document.location.href = '/queries/';
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    alert(textStatus + ': ' + errorThrown);
                }
            });
        }
    </script>

    <script>
        {% include "builder_advanced/builder.js" %}
    </script>


    <script>
        rdf2any_server = "{{RDF2ANY_SERVER}}";
	</script>


    <script data-turbolinks-track="true" src="/static/query-builder/javascripts/jquery_ujs.js?body=1"></script>
    <script data-turbolinks-track="true" src="/static/query-builder/javascripts/turbolinks.js?body=1"></script>
    <script data-turbolinks-track="true" src="/static/query-builder/javascripts/bootstrap.js?body=1"></script>
    <script data-turbolinks-track="true" src="/static/query-builder/javascripts/bootstrap.min.js?body=1"></script>
    <script data-turbolinks-track="true" src="/static/query-builder/javascripts/developer.js?body=1"></script>
    <script data-turbolinks-track="true" src="/static/query-builder/javascripts/query.js?body=1"></script>
    <script data-turbolinks-track="true" src="/static/query-builder/javascripts/resources/common.js?body=1"></script>

    <script data-turbolinks-track="true" src="/static/query-builder/javascripts/resources/querybuilder.js?body=1"></script>
    <script data-turbolinks-track="true" src="/static/query-builder/javascripts/resources/sparql.js?body=1"></script>
    <script data-turbolinks-track="true" src="/static/query-builder/javascripts/resources/utilities.js?body=1"></script>
    <script data-turbolinks-track="true" src="/static/query-builder/javascripts/codemirror.js?body=1"></script>
    <script data-turbolinks-track="true" src="/static/query-builder/javascripts/gritter.js?body=1"></script>
    <script data-turbolinks-track="true" src="/static/query-builder/javascripts/application.js?body=1"></script>

{% endblock %}