{% load i18n %}

{% if html %}
<div class="toolbar" id="{{toolbar_id}}">
    <select>
        <option value="">{% trans "Choose a data source" %}</option>
        {% for datasource in datasources %}
        <option value="{{datasource.name}}">{{datasource.title}}</option>
        {% endfor %}
    </select>

    <input type="search" placeholder="Search terms"/>

    <div class="active-classes">
        <span>Choose a data source to explore</span>
    </div>
</div>
{% endif %}

{% if js %}
<script>
        var {{toolbar_id}} = {
            all_classes_properties: [],

            show_classes: function(filter, offset) {
                $("#{{toolbar_id}} .active-classes").html('');

                if (offset == undefined) {
                    offset = 0;
                }

                var limit = 10;
                var added = 0;
                var total = 0;

                if (offset > 0) {
                    $("#{{toolbar_id}} .active-classes").append('<span class="prev-next-classes-button" data-offset="' + (Math.max(offset-limit, 0)) + '">‹</span>');
                }

                for (var i=0; i<this.all_classes_properties.length; i++) {
                    var label = uri_to_label(this.all_classes_properties[i].uri);
                    if (!filter || (label.toLowerCase().indexOf(filter.toLowerCase()) >= 0)) {
                        total++;
                        if ((total > offset) && (total <= offset + limit)) {
                            var data_str = 'data-uri="' + this.all_classes_properties[i].uri + '" data-type="' + this.all_classes_properties[i].type + '"';
                            var type_class = "class";
                            if (this.all_classes_properties[i].type == "property") {
                                data_str += 'data-domain="' + this.all_classes_properties[i].domain + '" data-range="' + this.all_classes_properties[i].range + '"';
                                type_class = "property";
                            }

                            $("#{{toolbar_id}} .active-classes").append('<div class="class_button button ' + type_class + '" ' + data_str + '>' + label + '</div>');
                            added++;
                        }
                    }
                }

                if (offset + added < total) {
                    $("#{{toolbar_id}} .active-classes").append('<span class="prev-next-classes-button" data-offset="' + (offset+limit) + '">›</span>');
                }

                if (added == 0) {
                    $("#{{toolbar_id}} .active-classes").append('<span class="info">No terms found</span>');
                } else if (this.all_classes_properties.length>limit) {
                    $("#{{toolbar_id}} .active-classes").append('<span class="info">Showing ' + (offset+1) + '-' + (offset+added) + '/' + total + ' terms</span>');
                }
            }
        };

        /*On select change load active classes in dataset*/
            $( "#{{toolbar_id}} > select" ).change(function() {
                var name = $(this).val();
                if (name == "") return;

                $("#{{toolbar_id}} .active-classes").html('<span class="loading">Loading classes and properties...</span>');
                {{toolbar_id}}.all_classes_properties = [];

                $.ajax({ //make request for properties
                    url: ADVANCED_BUILDER_API_URI + "object_properties/" +  name + "/",
                    type: "GET",
                    success: function(data, textStatus, jqXHR) {
                        var bindings = data.results.bindings;
                        for (var i=0; i<bindings.length; i++) { //add all object properties
                            var property_uri = bindings[i].property.value;
                            var domain_uri = bindings[i].domain.value;
                            var range_uri = bindings[i].range.value;
                            {{toolbar_id}}.all_classes_properties.push({
                                type: "property", uri: property_uri, domain: domain_uri, range: range_uri
                            });
                        }

                        $.ajax({ //make request for classes
                            url: ADVANCED_BUILDER_API_URI + "active_classes/" +  name + "/",
                            type: "GET",
                            success: function(data, textStatus, jqXHR) {
                                var bindings = data.results.bindings;
                                for (var i=0; i<bindings.length; i++) { //add all classes
                                    var class_uri = bindings[i].class.value;
                                    {{toolbar_id}}.all_classes_properties.push({type: "class", uri: class_uri});
                                }
                                {{toolbar_id}}.show_classes($( '#{{toolbar_id}} > input[type="search"]' ).val());
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                console.log(textStatus + ': ' + errorThrown);
                            }
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(textStatus + ': ' + errorThrown);
                    }
                });
            });

        /*On search text change*/
        $( '#{{toolbar_id}} > input[type="search"]' ).on('input propertychange paste', function() {
            {{toolbar_id}}.show_classes($(this).val());
        });

        /*On class start drag*/
        $("body").on('mousedown','.class_button', function(e) {
            if (e.which == 1) { //only for left click
                builder_workbench.selection = {'type': $(this).data("type"), 'uri': $(this).data("uri"), 'dt_name': $( "#{{toolbar_id}} > select" ).val()};
                if ($(this).data("type") == "property") {
                    builder_workbench.selection.domain = $(this).data("domain");
                    builder_workbench.selection.range = $(this).data("range");
                }

                e.preventDefault();
                e.stopPropagation();
            }
        });

        /*On toolbar prev & next*/
         $("body").on('click','.prev-next-classes-button', function() {
            var offset = $(this).data('offset');
            {{toolbar_id}}.show_classes($( '#{{toolbar_id}} > input[type="search"]' ).val(), offset);
        });
</script>
{% endif %}