{% load i18n inbox %}
{% load app_filters %}
{% inbox_count as inbox_count %}

<header id="header">

	<!-- header info -->
	<div class="banner" role="banner">
		<a href="/" class="left">
			<img src="/static/images/logo.png" class="site-logo">
			<h2 class="site-description hidden">LinDa is a ...</h2>
		</a>
		
		<div class="username right">
		{% if user.is_authenticated %}
			{% trans "Welcome back" %}, <a href="/profile/{{user.id}}">{{user|nice_name}}</a>.
			<a href="/messages/inbox" class="unread-counter">
				{% if inbox_count %} {% inbox_count %} {% endif %}<img src="/static/images/mail.png" class="admin-icon"/>
			</a> 
            
			<a href="/accounts/logout"><img src="/static/images/logout.png" class="admin-icon"/></a>
		{% else %}
			<a href="/accounts/login">{% trans "Sign in" %}</a>
		{% endif %}
		</div>
			
	</div>
	
	<!-- menu -->
	<div id="menu" class="clearfix">
		<ul>
			<li><a href="/">{% trans "Home" %}</a></li>
            <li><a href="/query-builder">{% trans "Queries" %}</a></li>
			<li><a href="/search">{% trans "Vocabularies" %}</a></li>
			<li><a href="/community">{% trans "Community" %}</a></li>
			<li><a href="/sparql">{% trans "SparQL Endpoint" %}</a></li>
		</ul>
		
		
	</div>

</header>