{% extends "base.html" %}
{% load url from future %}
{% load i18n thumbnail2 %}
{% load app_filters %}
{% block title %}{% trans "R2R Mapping Designer"%} | LinDA{% endblock %}
{% block bodyclass %}rdb2rdf{% endblock %}

{% block content %}
<div class="main">
    <h1 class="page-title inline">{% trans "R2R Mapping Designer"%}</h1>

    <form action="." method="post" enctype="multipart/form-data" class="form">{% csrf_token %}
        {% if form.non_field_errors %}
        <p class="error">{{ form.non_field_errors }}</p>
        {% endif %}

        <div class="generics">
            <div>
                <label for="datasource">{% trans "Data Source"%}:</label>
                {% with field="TODO connect field" id="datasource" options=datasources default="Select a data source" on_empty="No datasources found" %}
                    {% include 'util/prettydropdown.html' %}
                {% endwith %}

                <a class="button blue" style="margin-top: 10px;" href="#">+</a>
            </div>

            <div>
                <label for="baseuri">{% trans "Base URI"%}:</label>
                <input type="url" name="baseuri" placeholder="http://linda-project.eu/example#"/>
            </div>

            <div class="seperated">
                <label for="vocabulary">{% trans "Vocabulary"%}:</label>
                <input type="text" name="vocabulary" placeholder="search for a vocabulary"/><!--Add autocomplete vocabulary here-->
            </div>
        </div>

        <div class="dbview">
            <h4>{% trans "Database view" %}</h4>

            <div>
                <label for="dbtable">{% trans "Database table"%}:</label>
                {% with field="TODO connect field" id="dbtable" options=dbtables default="Select a table" %}
                    {% include 'util/prettydropdown.html' %}
                {% endwith %}

                <textarea id="dbquery" name="dbquery" style="display: none;"></textarea>
            </div>
        </div>

            <div class="rdfview">
                <h4>{% trans "RDF view" %}</h4>

                <div>
                    <label for="subjtemplate">{% trans "Subject <br />template"%}:</label>
                    <input type="text" name="subjtemplate" placeholder="product/{productName}/{productId}"/>
                </div>

                <div>
                    <label for="rdftype">{% trans "Type"%}:</label>
                    <input type="text" name="rdftype" value="{suggested value}" /><!--Add autocomplete type here-->
                </div>


                <div>
                    <label for="dbcolumn">{% trans "Map from"%}:</label>

                    {% with field="TODO connect field" id="dbcolumn" options=dbcolumns default="Column..."%}
                        {% include 'util/prettydropdown.html' %}
                    {% endwith %}

                </div>

            <div>
                <label for="rdfproperty">{% trans "to"%}:</label>
                <input type="text" name="rdfproperty" value="{suggested value}" /><!--Add autocomplete property here-->
            </div>
        </div>

        <div class="seperated">
            <input type="submit" class="button blue" value='{% trans "Create RDF" %}' />
        </div>
    </form>
</div>

{% endblock %}

{% block scripts %}
    <script>
        $( "#dbtable" ).change(function() {
            if ($(this).val() === "_write_custom_query") {
                $("#dbquery").show();
            }
            else {
                 $("#dbquery").hide();
            }
        });
    </script>

    {% with field="TODO connect field" id="datasource" %}
        {% include 'util/prettydropdown_js.html' %}
    {% endwith %}

    {% with field="TODO connect field" id="dbtable" %}
        {% include 'util/prettydropdown_js.html' %}
    {% endwith %}

    {% with field="TODO connect field" id="dbcolumn" %}
        {% include 'util/prettydropdown_js.html' %}
    {% endwith %}

    <script>
        //show custom query box on the according selection
        $("#dbtable-dropdown > li").click(function () {
            if ($(this).find("div > span").attr("data-option") === "_write_custom_query") {
                $("#dbquery").show();
            }
            else {
                $("#dbquery").hide();
            }
        });
    </script>
{% endblock %}