<div ng-controller="RdfCtrl">
  <h3>RDF View</h3>

  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="subjectTemplateInput" class="col-md-2 control-label">Subject Template</label>
      <div id="subejectTemplateInput" class="col-md-9">
        <input class="form-control" placeholder="Ex. {CustomerId}/{Address}#" ng-model="template" ng-blur="submitTemplate()" />
      </div>
    </div>

    <div class="form-group">
      <label for="typeInput" class="col-md-2 control-label">Type</label>
      <div class="col-md-1">
        <input type="radio" name="typeRadios" value="option1" checked>
      </div>
      <div id="typeInput" class="col-md-8">
        <select class="form-control" ng-model="type" ng-options="i.prefixedName group by i.group for i in types()">
          <option value="">Select suggested types ... </option>
        </select>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-primary">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-1 col-md-offset-2">
        <input type="radio" name="typeRadios" value="option2">
      </div>
      <div class="col-md-8">
        <input class="form-control" type="text" ng-model="selectedClass" placeholder="Search Linked Open Vocabulary (LOV) ..." 
               typeahead="class.uri for class in typeaheadLOVClasses($viewValue) | filter:$viewValue" 
               typeahead-template-url="partials/results_ta.html" />
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-primary">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
    </div>

    <div class="form-group">
      <label for="columnInput" class="col-md-2 control-label">Map from</label>
      <div id="columnSelect" class="col-md-9">
        <select class="form-control" ng-model="column" ng-options="i for i in rdb.columns" ng-change="suggestProperties(column)">
          <option value="">Column ... </option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" align="right">to</label>
      <div class="col-md-1">
        <input type="radio" name="propertyRadios" value="option1" checked>
      </div>
      <div id="propertyInput" class="col-md-8">
        <select class="form-control" ng-model="property" ng-options="i.prefixedName group by i.group for i in properties()">
          <option value="">Select suggested properties ... </option>
        </select>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-primary">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-1 col-md-offset-2">
        <input type="radio" name="propertyRadios" value="option2">
      </div>
      <div class="col-md-8">
        <input class="form-control" type="text" ng-model="selectedProperty" placeholder="Search Linked Open Vocabulary (LOV) ..." 
               typeahead="property.localName for property in typeaheadLOVProperties($viewValue) | filter:$viewValue"
               typeahead-template-url="partials/results_ta.html" />
        <!-- <input type="text" class="form&#45;control" ng&#45;model="foo" ng&#45;options="i for i in suggestedProperties" bs&#45;typeahead />        -->
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-primary">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
    </div>
  </form>

  <hr />

  <form class="form-search"> 
    <div>
      <input type="text" ng-model="search" placeholder="Search ..." class="form-control search-query">
    </div>
  </form>

  <div class="table-scrollable">
    <table class="table">
      <tr>
        <th>Subject</th>
        <th>Predicate</th>
        <th>Object</th>
      </tr>

      <tr ng-repeat="triple in triples | filter:search">
        <td>{{triple[0]}}</td>
        <td>{{triple[1]}}</td>
        <td>{{triple[2]}}</td>
      </tr>
    </table>
  </div>
</div>

