{% extends "messages/base.html" %}
{% block title %}New Message{% endblock %}
{% block css %}
<link rel="stylesheet" href="/s/django_file_upload/css/bootstrap.min.css">
<link rel="stylesheet" href="/s/django_file_upload/css/bootstrap-responsive.min.css">
<link rel="stylesheet" href="/s/django_file_upload/css/bootstrap-image-gallery.min.css">
{% endblock %}
{% block content %}

<div id="view_inbox" class="wrapper-content">
    <div id="newmsg">
        <div class="inbox-form" style="width:558px">
            <div class="inbox-form-header">
                {% trans "New Message" %}
            </div>
            <div class="inbox-form-body">

                <div id='show-hide'>
                    <form action="/messages/compose/" method="post">{% csrf_token %}
                        <div>To: (username)</div>
                        <div>{{ form.recipient }}</div>
                        {{ form.recipient.errors }}
                        <div>Subject</div>
                        <div>{{ form.subject }}</div>
                        <div>{{ form.body }}</div>
                        <input id="msgsend" class="button orangish" type="submit" value="{% trans " Send" %} &raquo;"/>
                    </form>
                </div>
                <a href='/messages/inbox'>
                    <div class='button' style="color:#DF4E15">Back to inbox</div>
                </a>
            </div>
        </div>
    </div>
    <!-- END of wrapper-content -->
    <script>
        jQuery.ajax({
            type: "GET",
            url: '/api/engage/users/',
            dataType: 'json',

            success: function (json) {
                users = [];
                for (index in json.objects) {
                    users.push(json.objects[index].username);
                }
                jQuery("#id_recipient").autocomplete({
                    source: users
                });
            }
        });
    </script>
    {% endblock %}