{% extends "base.html" %}
{% load i18n app_filters %}
{% block title %}{% trans "Inbox" %}{% endblock %}
{% block bodyclass %}mailbox{% endblock %} 

{% block content %}
		 
<div class="main">
	<h1 class="page-title">{{ message.subject|truncatechars:131 }}</h1>		 
		 <div class="inbox-form-body">
			<div id='show-hide'>


				<div class="message inbox clearfix">
					
					<div class="message-info">
						<p class="user-fullname">{% trans "Sent from " %}<a class="sendername" href="/profile/{{message.sender.profile.id}}"> {{ message.sender|nice_name }}</a>
						, {% trans "on" %} <span class="text-gold" >{{ message.sent_at}}</span></p>
					</div>
				</div>

				<p class="msgbody">
					{{ message.body|linebreaksbr|urlize }}
				</p>

				<div class="message-actions">
					{% ifequal message.recipient.pk user.pk %}
						<a class="button blue" href="{% url messages_reply message.id %}">{% trans "Reply" %}</a>
					{% endifequal %}
					<a class="button red"  href="{% url messages_delete message.id %}">{% trans "Delete" %}</a>
					<a class="button orange" href='/messages/inbox'>{% trans "Back" %}</a>
				</div>
			</div>
		</div>
</div>
{% endblock %}