{% load i18n %}

<div class="property-teaser">
    <h3><a href="/property/{{property.id}}/">{{property.label}}</a></h3> (<span
        class="uri">&lt;{{ property.uri }}&gt;</span>)<br/>

    <span class="description">{{property.description|striptags|default:"No description available"}}</span><br/>
    <span class="domain">{% trans "Domain" %}: <a href="{{property.get_domain_url}}" target="_blank">
        &lt;{{property.domain}}&gt;</a></span><br/>
    <span class="range">{% trans "Range" %}: <a href="{{property.get_range_url}}" target="_blank">&lt;{{property.range}}&gt;</a></span><br/>
    <a href="/property/{{property.id}}/" class="button blue">{% trans "Explore" %}</a>  <a href="{{ property.vocabulary.get_absolute_url }}" class="button green">{% trans "Vocabulary" %}</a>
</div>