{% load i18n %}

<div class="property-teaser">
    <h3><a href="{{ property.uri }}">{{property.label}}</a></h3> (<span
        class="uri">&lt;{{ property.uri }}&gt;</span>)<br/>

    <span class="description">{{property.description}}</span><br/>
    <span class="domain">{% trans "Domain" %}: <a href="{{property.domain}}" target="_blank">
        &lt;{{property.domain}}&gt;</a></span><br/>
    <span class="range">{% trans "Range" %}: <a href="{{property.range}}" target="_blank">&lt;{{property.range}}&gt;</a></span><br/>
    <a href="{{ property.vocabulary.get_absolute_url }}" class="button blue">{% trans "Vocabulary" %}</a>
</div>