lxml
rdflib
rdfextras
rdflib-sqlite
#pyparsing<=1.5.7
django==1.7
Pillow
django-allauth==0.20.0
django-view-cache-utils
django-imagekit
django-haystack
pyelasticsearch
elasticsearch
#MySQL-python
mysqlclient
xmltodict
microsofttranslator
#pattern
unidecode
pdfkit
reportlab
pandas