lxml
rdflib
rdfextras
rdflib-sqlite
#pyparsing<=1.5.7
django==1.7
Pillow
django-allauth
django-view-cache-utils
django-imagekit
django-haystack
pyelasticsearch
elasticsearch
MySQL-python
xmltodict
microsofttranslator
pattern
unidecode
