         $(".queries-table").on('click', '.query-row', function() {
            var id = $(this).attr('id');

            if ($("#" + id).hasClass('selected')) {
                $(".queries-table .selected .sparql-query p").css('height', '65px');
                $(".queries-table .selected").removeClass("selected");
            } else {
                $(".queries-table .selected .sparql-query p").css('height', '65px');
                $(".queries-table .selected").removeClass("selected");


                $("#" + id + " .sparql-query p").css('height', 'auto');
                $("#" + id).addClass("selected");
            }
        });


         var query_visualize_URIs = [];
        {% for query in queries %}
            query_visualize_URIs["{{query.id}}"] = "{{query.visualization_link}}";
        {% endfor %}

         $(function(){ //query context menu

            $.contextMenu({
                selector: '.query-row',
                callback: function(key, options) {
                    var id = options.$trigger.attr('id');
                    q_id = id.substr(id.indexOf("_")+1)
                    var url;

                    if (key == "Visualize")
                        url = query_visualize_URIs[q_id];
                    else
                    if (key == "Analyze")
                        url = "/analytics?q_id=" + q_id;
                    else
                    if (key == "Rename") {
                        var description = $('#query_' + q_id + ' .description p').text();
                        $('#query_' + q_id + ' .description').html('<textarea class="enabled" data-id="' + q_id  +'">' + description + '</textarea>');
                        var t = $('#query_' + q_id + ' .description').find('textarea');
                        $(t).focus();
                    }
                    else
                    if (key == "Edit") {
                        if (options.$trigger.data('design') == true) {
                            url = "/query-designer/" + q_id + "/";
                        } else {
                            url = "/sparql/" + q_id + "/";
                        }
                    }
                    else
                    if (key == "Delete") {
                        $.confirm({
                            title: "Delete Query #" + q_id,
                            text: "Are you sure you want to delete this query?",
                            className: "delete-dialog",
                            confirm: function(button) {
                                $.ajax({
                                    url: "/query-builder/delete/" + q_id + '/',
                                    type: "POST",
                                    data: {
                                        csrfmiddlewaretoken: '{{ csrf_token }}'
                                    },
                                    success: function(data, textStatus, jqXHR)
                                    {
                                        document.location.reload();
                                    },
                                    error: function (jqXHR, textStatus, errorThrown)
                                    {
                                        console.log(textStatus + ': ' + errorThrown);
                                    }
                                });
                            },
                            cancel: function(button) {
                                $('.confirmation-modal').remove();
                                $('.jquery-modal').remove();
                            }
                        });
                        return;
                    }

                    $(this).addClass("show-context-menu");
                    if (url)
                        document.location = url;
                },
                items: {
                    "Visualize": {name: "Visualize", icon: "visualize"},
                    "Analyze": {name: "Analyze", icon: "analyze"},
                    "sep1": "---------",
                    "Edit": {name: "Run & Edit", icon: "edit"},
                    {% if option_rename %}
                        "Rename": {name: "Rename", icon: "pencil"},
                    {% endif %}
                    "Delete": {name: "Delete", icon: "delete"},
                }
            });
        });