{% load i18n %}
{% load app_filters %}

{% if out == "html" %}

    {% for query in queries %}
        <div id="query_{{query.id}}" class="query-row recent-item" {% if query.design %}data-design="true"{% endif %}>
            <div class="icon" {% if query.design %}design{% endif %}></div>
            <span class="query-description">{{query.description}}</span>
        </div>
    {% empty %}
        <p>{% trans "No recent queries." %}</p>
    {% endfor %}

{% elif out == "js" %}
    {% with queries=queries %}
        {% include "queries/context-menu.html" %}
    {% endwith %}
{% endif %}