{% extends "base.html" %}

{% load staticfiles %}
{% load url from future %}


{% load i18n %}
{% block title %}LinDA | {% trans "Analytics" %}{% endblock %}
{% block bodyclass %}analytics{% endblock %}

{% block content %}
<div class="main content-sidebar">
    <content>
        <!--div id="user-tools">
            <h3>Explore LINDA Ecosystem</h3>

              <p>  <a href="http://community.pentaho.com/projects/data-integration/">Data Integration - Kettle - Pentaho Community</a> </p>
              <p>  <a href="/admin/logout1/">Linda Tranformation Engine</a></p>
            </ul>
        </div-->
      <table>
	    <tr>
	      <td><h1 class="page-title inline">No Authenticated user!</h1></td>	      
	    </tr>
       </table>
    <section  id="content">
          <div id="instructions">
                    In order to use the analytics tool, you have to get authenticated to the LindaWorkbench!
                    Thank You!
          </div>
    </section>
</content>



</div>
{% endblock %}




