<div class="col-xs-6 area-box">
    <h6>{{view.label}}</h6>

    {{#droppable-area inArea=view.content}}
    <div style="height:7rem; overflow:auto; text-align: left; ">
        {{#each item_ in view.inArea}}
        {{property-item item=item_ collection=view.inArea}}	
        {{else}}
        <div style="color:#888888; font-size:14pt; text-align: center">Drop here</div>
        {{/each}}
    </div>
    {{/droppable-area}}

</div>
