<div class="box">
    <div class="boxTitle">
        {{view.label}}
    </div>

    <ul class="boxContent">
        {{#each childView in view.childrenViews}}
            {{view childView}}
        {{/each}}
    </ul>
</div>