<span class="configurationOption">{{view.label}}</span>  {{view Ember.Select viewName="selectField"
            content=view.values
            optionLabelPath="content.label"
            selection=view.content}}
{{! RE-ACTIVATE AFTER EMBER UPGRADE  optionValuePath="content.id"}}

