<div id="builder-options">
    <label>Variables:</label><div id="query_variables"></div><br />
    <label>Distinct:</label><input id="query_distinct" type="checkbox"/><br />
    <label>Pattern:</label><input id="query_pattern" placeholder="(e.g A+B)"/><br />
    <label>Limit:</label><input id="query_limit" type="number" step="100" placeholder="leave empty for no LIMIT clause"/><br />
    <label>Offset:</label><input id="query_offset" type="number" step="100" placeholder="leave empty for no LIMIT clause"/><br />
    <!--<label>Materialize:</label><br />-->

    <button id="query-options-done" class="button right orange">OK</button>
</div>