{% load i18n %}

<div class="toolbar-container">
    {% with mode="designer" query=query %}
        {% include "util/sparql-menu.html" %}
    {% endwith %}
    <div class="toolbar" id="toolbar">
        <select>
            <option value="">{% trans "Choose a data source" %}</option>
            {% for datasource in datasources %}
            <option value="{{datasource.name}}" {% if default == datasource %}selected="selected"{% endif %}>
                {{datasource.title|safe}}
            </option>
            {% endfor %}
        </select>

        <input type="search" placeholder="Search terms"/>

        <div class="active-classes">
            <span>Choose a data source to explore</span>
        </div>
    </div>
</div>
