{% load i18n %}

{% if vocabularies %}

    <div class="result-vocabularies">
        {% for vocabulary in vocabularies %}
            {% with vocabulary=vocabulary %}
                {% include "vocabulary/teasers/vocabulary.html" %}
            {% endwith %}
        {% endfor %}
    </div>

{% elif classes %}

    <div class="result-classes">
        {% for class in classes %}
            {% with class=class %}
                {% include "vocabulary/teasers/class.html" %}
            {% endwith %}
        {% endfor %}
    </div>

{% elif properties %}

    <div class="result-properties">
        {% for property in properties %}
            {% with property=property %}
                {% include "vocabulary/teasers/property.html" %}
            {% endwith %}
        {% endfor %}
    </div>

{% endif %}
