	{% extends "transformation-base.html" %}

{% block content %}

{% load modelview_tags %}

{% include "transformation/snippets/title_snippet.html" with format='CSV' %}

<!-- http://stackoverflow.com/questions/13666852/how-to-debug-a-django-multivaluedictkeyerror-on-formset-post -->
{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

<input type="hidden" name="hidden_rdf_array_field" id ="id_hidden_rdf_array_field" value="{{ rdfArray }}">
<input type="hidden" name="hidden_rdf_prefix_field" id ="id_hidden_rdf_prefix_field" value="{{ rdfPrefix }}">
<input type="hidden" name="hidden_model" id="id_hidden_model" value="{{ rdfModel }}">

<div class="minimizable">
<div class="content grid">
	<h3>Enrich the RDF graph</h3>
	<div class="col-3-10 left-side-box">

		<p>In this step you can add one or several classes that match your data (e.g. 'Person', 'table rows', ...).</p>
		<p>You can search for classes in the search bar and then choose from the dropdown list by double clicking an entry.</p>
		<p>You can unwanted remove classes from the list again by clicking <i class="fa fa-times"></i>.</p>

	</div>
	


	<div class="col-7-10 right-side-box">
		<div class="col-5-10">
			<p>
			Search for Classes here:<br>Double click to choose.
			</p>
			<p>
			<input type="text" id="search_textinput_1" onkeyup="delayedOracleCall(1)">
			<i id="icon_1" class="fa fa-search" onclick="askOracle(1)"></i>
			<br>
				<div class="bb_select" id="search_result_1">
				</div>
			</p>
		</div>
		<div class="col-5-10" id ="enriched">
		<p>Chosen classes:</p>
		</div>
	</div>
</div>
</div>

<div class="minimizable">
    <div class="content scrollit">
        <h3>DATA VIEW</h3>
        <div>
        <span>File: {{ filename }} (10 rows example)</span>
        {{ rdfModel | model_as_table | safe }}
        </div>
    </div>
</div>

<div class="content" id="rdf_view">

	<h3>RDF VIEW</h3>

</div>

</form>



{% endblock %}

{% block extra_scripts %}
	<script>

/* vocab selection widgets
can be provided in simple html like
<div class="bb_select">
 <div>item1</div>
 <div>item2</div>
</div>
This function does a lot of dom manipulation to transform it into a cool widget :)
The second argument is a function that is triggered when doubleclicking
*/
function addInnerDiv2(elem, dblClickFunction, param) {

	var height = "20em";
	var kids = elem.children();

	elem.empty();
	elem.css("height", height);

	var elementsDiv = jQuery('<div/>', {
		class: "bb_select_nodropdown_elements"
	}).appendTo(elem);
	elementsDiv.css("max-height", height);
	//}).appendTo(innerDiv);
	
	elementsDiv.append(kids);

	kids.each(function (i) {
		$(this).on("dblclick", function(){
			var vocab_name = $(this).find(".oracle_label em").text()
			var href = $(this).find("a").attr("href")
			var vocab_description = $(this).find("span.vocab_description").text();
			var vocab_score = $(this).find("span.vocab_score").text();
			//var search_term = ""; // TODO
			elem.attr("value", '{"url":"'+href+'", "prefix": '+JSON.stringify(replacePrefix(href))+', "label": "'+vocab_name+'", "vocab_description": "'+vocab_description+'", "score": "'+vocab_score+'"}');
			dblClickFunction(param);
			adapt_RDF_preview();

		});
		$(this).on("dblclick", function(){
			$(this).addClass("bb_select_clicked");
			$(this).siblings().removeClass("bb_select_clicked");
		});	
	});
}

//only request ajax if no typing for 1 second
var typingTimer;
var doneTypingInterval = 1000;
function delayedOracleCall(widget_num) {
	clearTimeout(typingTimer);
	typingTimer = setTimeout(function(){askOracle(widget_num);}, doneTypingInterval);
}

function askOracle(widget_num){

	recent_result = document.getElementById("search_result_"+widget_num);
	recent_textinput = document.getElementById("search_textinput_"+widget_num);
	recent_icon = document.getElementById("icon_"+widget_num);

	recent_icon.className = "fa fa-refresh fa-spin";

	var request = $.ajax({
		type: 'GET',
		dataType: 'jsonp',
		data: { 'class': recent_textinput.value },
		url: "http://linda.epu.ntua.gr:8000/coreapi/recommend/",
	});

	request.fail(function (jqXHR, textStatus, errorThrown) {
			recent_icon = document.getElementById("icon_"+widget_num);
			recent_icon.className = "fa fa-exclamation-triangle";
			console.log(jqXHR);
			console.log(textStatus);
			console.log(errorThrown);
		}
	);

	request.success(function (data) {
			recent_result = $("#search_result_"+widget_num);
			recent_icon = document.getElementById("icon_"+widget_num);
			recent_icon.className = "fa fa-check";
			recent_result.empty();
			if(data.length===0){
				recent_icon.className = "fa fa-meh-o";
				recent_result.append("No results found.<br>Please modify the search term.");
				return;
			}
			//recent_text.innerHTML = "please choose from list";
			for(var i = 0; i < data.length; i++){

				//shorten uri
				var short_uri = "no uri";
				if(data[i].full_uri)
					short_uri = shortenURI(data[i].full_uri, 40);
				else if(data[i].uri)
					short_uri = shortenURI(data[i].uri, 40);

				//css class star symbol for ranking
				var star ="fa ";
				if(data[i].ranking>80)
					star += "fa-star";
				else if(data[i].ranking>50)
					star += "fa-star-half-o";
				else
					star += "fa-star-o";

				recent_result.append("<div id=\"oracle_result_"+widget_num+"_"+i+"\"><span class=\"oracle_label\">(<i class=\""+star+"\"></i><span class=\"vocab_score\">"+data[i].ranking+"</span>) <em>"+data[i].label+"</em><br><span class=\"vocab_description\">"+data[i].vocabulary+"</span></span><br><a href=\""+data[i].full_uri+"\" target=\"_blank\" onmouseover=\"Tip('Open in external window')\" onmouseout=\"UnTip()\"><i class=\"fa fa-external-link-square additl_vert_pad\"></i></a>"+short_uri+"</div>");
			}

			addInnerDiv2($("#search_result_"+widget_num), to_enrich, "search_result_"+widget_num);

			//auto-select first element after oracle call
			$("#search_result_"+widget_num+" * .bb_select_elements").children().first().trigger("click");
		}

	);
	return request;
}

//get enrich data that is stored in json model and display on page
function populate_from_model(){

	var enrich = get_model().enrich;

	if(typeof enrich === "undefined")
		return;

	var enrich_list = "";
	for(var i=0; i<enrich.length; i++){

		//build a bb_select dropdown wothout dropdown funtionality
		var star ="fa ";
		if(enrich[i].score>80)
			star += "fa-star";
		else if(enrich[i].score>50)
			star += "fa-star-half-o";
		else
			star += "fa-star-o";

		var short_uri = enrich[i].url;
		if(enrich[i].url)
				short_uri = shortenURI(enrich[i].url, 40);


		enrich_list += "<div class=\"bb_select_nodropdown\" id=\"oracle_result_"+(i+1)+"\"><span class=\"oracle_label\"><em>"+enrich[i].label+"</em><br><span class=\"vocab_description\">"+enrich[i].vocab_description+"</span></span><br><a href=\""+enrich[i].url+"\" target=\"_blank\" onmouseover=\"Tip('Open in external window')\" onmouseout=\"UnTip()\"><i class=\"fa fa-external-link-square additl_vert_pad\"></i></a>"+short_uri+"";
		enrich_list += "<i class=\"fa fa-times\" style=\"position: absolute; right: 0.5em; top: 0.5em;\" onclick=\"remove_model_enrich('"+enrich[i].url+"');adapt_RDF_preview();\"></i></div>";	
		
	}
	var text = $("div#enriched p");
	$("div#enriched").html("");
	$("div#enriched").append(text);
	$("div#enriched").append(enrich_list);
}

function to_enrich(widget_id){
	var widget = $("#"+widget_id);
	var selected = jQuery.parseJSON(widget.attr("value"));
 	add_model_enrich(selected);
 	adapt_RDF_preview();
}

function adapt_RDF_preview() {

    var rdf_view = $("#rdf_view");
    var tbl = model_to_table(get_model());
    rdf_view.find("table").remove();
    rdf_view.append(tbl);

    populate_from_model();

}



var rdf_content = $("#id_hidden_rdf_array_field");


$( document ).ready(function() {

	$("#button_back").on("click", function () {
		var form = $("#main_form");
		form.attr("action", "5");
		form.submit();
	});


	//close DATA VIEW
	$(".content-resizer").eq(1).click();
    populate_from_model();
	adapt_RDF_preview();
});

</script>
{% endblock %}
