	{% extends "transformation-base.html" %}


{% block content %}

{% load modelview_tags %}

{% include "transformation/snippets/title_snippet.html" with format='CSV' %}

<!-- http://stackoverflow.com/questions/13666852/how-to-debug-a-django-multivaluedictkeyerror-on-formset-post -->
{% for hidden in form.hidden_fields %}
	{{ hidden }}
{% endfor %}

<input type="hidden" name="hidden_rdf_array_field" id ="id_hidden_rdf_array_field" value="{{ rdfArray }}">
<input type="hidden" name="hidden_rdf_prefix_field" id ="id_hidden_rdf_prefix_field" value="{{ rdfPrefix }}">
<input type="hidden" name="hidden_model" id="id_hidden_model" value="{{ rdfModel }}">

<div class="minimizable">
<div class="content">

	<h3>Specify the RDF Predicate</h3>
		<div>
		<p>In the last step, you constructed a RDF subject URI for each line of your data. As every line represents data for one single real world entity (e.g. a customer, accounting information ...), the single fields in that line represent characteristics of these entities (e.g. customer name, date of money transfer ...). </p>
		<p>In this step, we try and find a suitable RDF property that can represent data in one column. We use the column names to find suitable candidates. If the results are unsatisfactory, do type in your own search term to receive more adequate results. The RDF view below is automatically updated with the selected property.</p>

		<div class="show-additional-help">show more</div>
		<div class="additional-help">
		<p><em>What is it about?</em><br>
		In this step, the RDF properties are specified that link the subject URI of each line to the values in the individual columns. Hence, for every selected column, a property needs to be specified. These properties should express the meaning the column values have for the subject. These meanings may be hinted at by the columns headers, but be aware that they often just express the type of the data instead of their meaning for the subject. – In contrast to the lines´ subject URIs, these properties should be selected from public sources whenever possible, so as to promote world-wide uniform semantic formalizations.</p>
		</div>
		</div>


</div>
</div>

<div class="minimizable">
<div class="content scrollit">
	<h3>DATA VIEW</h3>
	<div>
		File: <b>{{ filename }}</b> (10 rows example)
		{{ rdfModel | model_as_table_predicate:10 | safe }}
	</div>
</div></div>


<div class="content" id="rdf_view">
	<h3 style="display: inline">RDF VIEW</h3><span>(10 rows example)</span>
</div>

</form>


{% endblock %}

{% block extra_scripts %}
	<script>

	/* vocab selection widgets
	can be provided in simple html like
	<div class="bb_select">
	 <div>item1</div>
	 <div>item2</div>
	</div>
	This function does a lot of dom manipulation to transform it into a cool widget :)
	*/
	function addInnerDiv(elem) {

		var id_array = elem.attr("id").split("_");
		var column_num = id_array[id_array.length-1];

		var kids = elem.children();

		elem.empty();
	elem.css("height", "5em");

		var innerDiv = jQuery('<div/>', {
			class: "bb_select_inner"
		}).appendTo(elem);

		var selectionDiv = jQuery('<div/>', {
			class: "bb_select_selection",
			text: "please chose"
		}).appendTo(innerDiv);

	selectionDiv.css("position","relative");

	//font awesome arrow down
		var caretDown = jQuery('<i/>', {
			class: "fa fa-caret-square-o-down fa-2x"
		}).appendTo(selectionDiv);

		caretDown.css("position","absolute");
		caretDown.css("top",".1em");
		caretDown.css("right",".2em");
		caretDown.css("color","#888");

		elem.on("mouseover", function() {
			$(this).find("i.fa-caret-square-o-down").css("opacity","1");
		$(this).find("div div").css("z-index", 999999);
		});

		elem.on("mouseout", function() {
			$(this).find("i.fa-caret-square-o-down").css("opacity",".3");
		$(this).find("div div").css("z-index", "auto");
		});

		var elementsDiv = jQuery('<div/>', {
			class: "bb_select_elements"
		}).appendTo(innerDiv);
		/*elementsDiv.css("position","fixed");
		elementsDiv.css("width","inherit");*/

		elementsDiv.append(kids);

		kids.each(function (i) {
			$(this).on("click", function () {
				$(this).parent().siblings().first().html($(this).html());
				$(this).addClass("bb_select_clicked");
				$(this).siblings().removeClass("bb_select_clicked");
				caretDown.appendTo(selectionDiv);
				var vocab_name = $(this).find(".oracle_label em").text();
				var extern_uri = $(this).find("a.extern_uri").attr("href");
				var intern_uri = $(this).find("a.intern_uri").attr("href");
				var vocab_description = $(this).find("span.vocab_description").text();
				var vocab_score = $(this).find("span.vocab_score").text();
				var search_term = $("#search_textinput_"+column_num).val();
				console.log(search_term);
				elem.attr("value", '{"url":"'+extern_uri+'", "url_intern":"'+intern_uri+'", "prefix": '+JSON.stringify(replacePrefix(extern_uri))+', "label": "'+vocab_name+'", "vocab_description": "'+vocab_description+'", "score": "'+vocab_score+'", "search_term": "'+search_term+'"}');
				adapt_RDF_preview(column_num);
			});
		});

		innerDiv.on("mouseover", function () {
			elementsDiv.css("top", selectionDiv.offset().top + selectionDiv.outerHeight() - $(window).scrollTop());
			elementsDiv.css("left", selectionDiv.offset().left);
			elementsDiv.css("visibility", "visible");
		});

		innerDiv.on("mouseout", function () {
			elementsDiv.css("visibility", "hidden");

		});

		//avoid the dropdown staying open when scrolling
		$(window).on("scroll", function(){
        	elementsDiv.css("visibility", "hidden");
        });

		elementsDiv.trigger("mouseout");
	}


var recent_result = null;
var recent_textinput = null;
var recent_text = null;



function askOracle(widget_num){
	$("#result_from_model_"+widget_num).remove();
	recent_textinput = $("#search_textinput_"+widget_num);
	recent_icon = document.getElementById("icon_"+widget_num);
	recent_icon.className = "fa fa-refresh fa-spin";

	var request = $.ajax({
		type: 'GET',
		dataType: 'jsonp',
		data: { 'property': recent_textinput.val() },
		url: lindaGlobals.server_url+"/coreapi/recommend/",
	});

	request.fail(function (jqXHR, textStatus, errorThrown) {
			recent_icon.className = "fa fa-exclamation-triangle";
			console.log(jqXHR);
			console.log(textStatus);
			console.log(errorThrown);
		}
	);

	request.success(function (data) {
			var result_container = $("#result_area_"+widget_num);
			result_container.html('<div class="bb_select" id="search_result_'+widget_num+'"></div>');
			recent_result = $("#search_result_"+widget_num);



			recent_icon = $("#icon_"+widget_num);
			recent_icon.attr("class", "fa fa-check");
			recent_result.empty();
			if(data.length===0){
				recent_icon.attr("class", "fa fa-meh-o");
				recent_result.append("No results found.<br>Please modify the search term.");
				adapt_RDF_preview(widget_num);
				return;
			}
			//recent_text.innerHTML = "please choose from list";
			for(var i = 0; i < data.length; i++){

				var uri = false;
				var uri_intern = false;
				if(typeof data[i].read_more !== "undefined" && data[i].read_more !== "undefined" && data[i].read_more){
					uri_intern = lindaGlobals.server_url+data[i].read_more;
				}
				if(typeof data[i].full_uri !== "undefined" && data[i].full_uri !== "undefined" &&data[i].full_uri){
						uri = data[i].full_uri;
				}else if(data[i].uri){
						uri = data[i].uri;
				}

				//shorten uri
				var short_uri = "no uri";
				if(uri)
					short_uri = shortenURI(uri, 40);

				//css class star symbol for ranking
				var star ="fa ";
				if(data[i].ranking>80)
					star += "fa-star";
				else if(data[i].ranking>50)
					star += "fa-star-half-o";
				else
					star += "fa-star-o";

				var url_intern_html = "";
				if(uri_intern)
					url_intern_html = "<br><a class=\"intern_uri\" href=\""+uri_intern+"\" target=\"_blank\" onmouseover=\"Tip('Open in external window')\" onmouseout=\"UnTip()\"><i class=\"fa fa-external-link-square additl_vert_pad\"></i></a>lookup in LinDA dictionary";

				var url_extern_html = "";
				if(uri)
					url_extern_html = "<br><a class=\"extern_uri\" href=\""+uri+"\" target=\"_blank\" onmouseover=\"Tip('Open in external window')\" onmouseout=\"UnTip()\"><i class=\"fa fa-external-link-square additl_vert_pad\"></i></a>"+short_uri;

				recent_result.append("<div id=\"oracle_result_"+widget_num+"_"+i+"\"><span class=\"oracle_label\">(<i class=\""+star+"\"></i><span class=\"vocab_score\">"+data[i].ranking+"</span>) <em>"+data[i].label+"</em><br><span class=\"vocab_description\">"+data[i].vocabulary+"</span></span>"+url_intern_html+url_extern_html+"</div>");
			}

			addInnerDiv($("#search_result_"+widget_num));

			//auto-select first element after oracle call
			$("#search_result_"+widget_num+" * .bb_select_elements").children().first().trigger("click");
		}

	);
	return request;
}




//only request ajax if no typing for 1 second
var typingTimer;
var doneTypingInterval = 1000;
function delayedOracleCall(widget_num) {
	clearTimeout(typingTimer);
	typingTimer = setTimeout(function(){askOracle(widget_num);}, doneTypingInterval);
}



//checks if all ajax calls were successful and maybe enables next button
function checkEnableNextButton(){
	var found_one_undefined = false;
	for(var j=1; j<=get_num_selected_cols_model(); j++) {
		if($("#search_result_"+(j)).length > 0){ // if from oracle
			var data_string = $("#search_result_"+(j)).attr("value");
			if(typeof data_string === "undefined"){
				found_one_undefined = true;
			}
		}
	}


	//enables or disabled next button depending on rdf graph completeness
	if(!found_one_undefined) {
		$("#button_next").removeAttr("disabled");
	}
	else {
		$("#button_next").attr("disabled", "disabled");
	}
}

function adapt_RDF_preview(column_num) {
	var begin = 1;
	var until = get_num_selected_cols_model();
	if(typeof column_num !== "undefined"){

		var begin = column_num-1;
		var until = column_num;

	}

	for(var j=begin; j<=until; j++) {
		if($("#search_result_"+(j)).length > 0){ // if from oracle
			var data_string = $("#search_result_"+(j)).attr("value");
			if(typeof data_string !== "undefined"){
				var data = jQuery.parseJSON(data_string);
				add_to_model_predicate(data, (j));//, "html":$(this).html()

			}
		}
	}

	checkEnableNextButton();

	var rdf_view = $("#rdf_view");
	var tbl = model_to_table(get_model(), 10);
	rdf_view.find("table").remove();
	rdf_view.append(tbl);

}


//get predicate data that is stored in json model and display on page
function populate_from_model(widget_num, predicate){

	//build a bb_select dropdown without dropdown functionality

/*
	var star ="fa ";
	if(enrich[i].score>80)
		star += "fa-star";
	else if(enrich[i].score>50)
		star += "fa-star-half-o";
	else
		star += "fa-star-o";
*/
	var short_uri = predicate.url;
	if(predicate.url)
			short_uri = shortenURI(predicate.url, 40);


	var predicate_div = "<div class=\"bb_select_nodropdown\" id=\"result_from_model_"+widget_num+"\"><span class=\"oracle_label\"><em>"+predicate.label+"</em><br><span class=\"vocab_description\">"+predicate.vocab_description+"</span></span><br><a href=\""+predicate.url_intern+"\" target=\"_blank\" onmouseover=\"Tip('Open in external window')\" onmouseout=\"UnTip()\"><i class=\"fa fa-external-link-square additl_vert_pad\"></i></a>lookup in LinDA dictionary<br><a href=\""+predicate.url+"\" target=\"_blank\" onmouseover=\"Tip('Open in external window')\" onmouseout=\"UnTip()\"><i class=\"fa fa-external-link-square additl_vert_pad\"></i></a>"+short_uri+"</div>";

	var parent = $("#search_result_"+widget_num).parent();
	$("#search_result_"+widget_num).remove();
	$("#result_from_model_"+widget_num).remove();
	$("#search_textinput_"+widget_num).val(predicate.search_term);
	parent.html(parent.html()+predicate_div);
}



$( document ).ready(function() {

	// do an oracle lookup on page load

	$("div[id^='search_result_']").each( function(i, obj){
		var predicate = get_model_predicate_of_col(i+1);
		if(typeof predicate === 'undefined'){//} || get_model_predicate_of_col(i+1) === 'false'){
			askOracle(i+1);
		}else{
			populate_from_model((i+1), predicate);
		}
	});

	$("#button_next").attr("disabled", "disabled");

	$("#button_back").on("click", function () {
		var form = $("#main_form");
		form.attr("action", "3");
		form.submit();
	});

	adapt_RDF_preview();

});



</script>
{% endblock %}
