{% extends "transformation-base.html" %}

{% block content %}

{% load modelview_tags %}

	{% include "transformation/snippets/title_snippet.html" with format='CSV' %}

	<!-- http://stackoverflow.com/questions/13666852/how-to-debug-a-django-multivaluedictkeyerror-on-formset-post -->
	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}


<input type="hidden" name="hidden_rdf_array_field" id ="id_hidden_rdf_array_field" value="{{ rdfArray }}">
<input type="hidden" name="hidden_rdf_prefix_field" id ="id_hidden_rdf_prefix_field" value="{{ rdfPrefix }}">
<input type="hidden" name="hidden_model" id="id_hidden_model" value="{{ rdfModel }}">

	<div class="content grid no-minimize">
		<h3>Publish</h3>
		<div class="col-5-10 left-side-box">
			<p>In this last step, you can either store your freshly forged RDF data in the LinDA Workbench data sources or download an RDF dump of it.</p>
		</div>

		<div class="col-5-10 right-side-box">
			<p>Please enter a name for your publication:<br><input type="text" name="name_publish" id="name_publish" value="{{rdfModel.file_name|n3}}"></p>
			<p><input type="submit" name="button_publish" id="button_publish" value="Publish to triple store"></p>
			<p><input type="submit" name="button_download" id="button_download" value="Download RDF"></p>
		</div>

	</div>


	<div class="content" id="rdf_view">
		<h3>RDF VIEW</h3>

	</div>

	</form>



{% endblock %}

{% block extra_scripts %}
	<script>
{% if publish_massage %}
	alert("{{ publish_massage }}");
{% endif %}


function adapt_RDF_preview() {

	$("#id_hidden_rdf_array_field").val(JSON.stringify(model_to_array(get_model())));

	var rdf_view = $("#rdf_view");
	var tbl = model_to_table(get_model());
	rdf_view.find("table").remove();
	rdf_view.append(tbl);
}

$( document ).ready(function() {

	$("#button_back").on("click", function () {
		var form = $("#main_form");
		form.attr("action", "6");
		form.submit();
	});

	$("#button_next").css("visibility","hidden");

	adapt_RDF_preview();
});

</script>
{% endblock %}
