<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>LinDA Visualisation Prototype</title>

        <!-- <link rel="stylesheet" href="/static/visualization/bower_components/nvd3/nv.d3.css" />-->
        <link rel="stylesheet" href="/static/visualization/bower_components/c3/c3.css">   
        <link rel="stylesheet" href="/static/visualization/bower_components/leaflet/dist/leaflet.css">  

        <link rel="stylesheet" href="/static/visualization/bower_components/jquery-minicolors/jquery.minicolors.css"> 
        <link rel="stylesheet" href="/static/visualization/styles/style.css">
        <link rel="stylesheet" href="/static/visualization/bower_components/foundation-icon-fonts/foundation-icons.css" />   
        <link rel="stylesheet" href="/static/visualization/bower_components/datatables/media/css/jquery.dataTables.css" /> 
        <link rel="stylesheet" href="/static/visualization/bower_components/slick.js/slick/slick.css" />
        <link rel="stylesheet" href="/static/visualization/visualization_library/external_libraries/leaflet-dvf/css/dvf.css"> 

        <script src="/static/visualization/bower_components/jquery/jquery.js"></script> 
        <script src="/static/visualization/bower_components/jquery/jquery-migrate.js"></script>
        <script src="/static/visualization/bower_components/jquery-minicolors/jquery.minicolors.js"></script>          
        <script src="/static/visualization/bower_components/underscore/underscore.js"></script>          
        <script src="/static/visualization/bower_components/leaflet/dist/leaflet-src.js"></script> 
        <script src="/static/visualization/bower_components/datatables/media/js/jquery.dataTables.js"></script> 
        
        <script src="/static/visualization/bower_components/canvg/dist/canvg.bundle.js"></script>

        <script src="/static/visualization/bower_components/d3/d3.js"></script>  
        <script src="/static/visualization/bower_components/c3/c3.js"></script>  
        <script src="/static/visualization/bower_components/dimple/dist/dimple.v2.1.0.js"></script> 

        <script src="/static/visualization/bower_components/foundation/js/foundation.js"></script>    
        <script src="/static/visualization/bower_components/foundation/js/foundation/foundation.equalizer.js"></script>           
        <script src="/static/visualization/bower_components/foundation/js/vendor/modernizr.js"></script>
        <script src="/static/visualization/bower_components/handlebars/handlebars.js"></script>
        <script src="/static/visualization/bower_components/slick.js/slick/slick.js"></script>
        <script src="/static/visualization/visualization_library/external_libraries/leaflet-dvf/leaflet-dvf.js"></script>  
        <script src="/static/visualization/visualization_library/external_libraries/leaflet-dvf/leaflet-dvf.markers.js"></script>  
        <script src="/static/visualization/visualization_library/external_libraries/leaflet-image/leaflet-image.js"></script>  
        <script type="text/javascript" src="//www.google.com/jsapi"></script>

        <script src="/static/visualization/bower_components/ember/ember.js" ></script>
        <script src="/static/visualization/bower_components/ember-data/ember-data.js"></script>
        
        <script src="/static/visualization/data_modules/csv_data_module.js"></script> 
        <script src="/static/visualization/data_modules/sparql_data_module.js"></script> 
        <script src="/static/visualization/data_modules/tree_data_module.js"></script>

        <script src="/static/visualization/scripts/compiled-templates.js"></script> <!-- .hbs files -->
        <script src="/static/visualization/scripts/combined-scripts.js"></script> <!-- app.js -->

        <script src="/static/visualization/template_mapping/templateMapping.js"></script>

        <script src="/static/visualization/visualization_library/util.js"></script>  
        <script src="/static/visualization/visualization_library/charts/columnchart.js"></script>
        <script src="/static/visualization/visualization_library/charts/linechart.js"></script>
        <script src="/static/visualization/visualization_library/charts/areachart.js"></script>
        <script src="/static/visualization/visualization_library/charts/scatterchart.js"></script>
        <script src="/static/visualization/visualization_library/charts/bubblechart.js"></script>
        <script src="/static/visualization/visualization_library/charts/piechart.js"></script>    
        <script src="/static/visualization/visualization_library/visualizations.js"></script> 
        <script src="/static/visualization/visualization_library/maps/map.js"></script>        
        <script src="/static/visualization/visualization_library/c3export.js"></script> 

        <script src="/static/visualization/bower_components/jquery-csv/src/jquery.csv.js"></script>  

    </head>
    <body>          
    </body>
</html>
