{% extends "base.html" %}

{% block css %}
		
		<base href="/visualizations">
		<meta name="linda-vis-fe/config/environment" content="%7B%22modulePrefix%22%3A%22linda-vis-fe%22%2C%22environment%22%3A%22development%22%2C%22baseURL%22%3A%22%2Fvisualizations%22%2C%22locationType%22%3A%22auto%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%7D%2C%22APP%22%3A%7B%22name%22%3A%22linda-vis-fe%22%2C%22version%22%3A%220.0.0.cf881ece%22%7D%2C%22exportApplicationGlobal%22%3Atrue%7D" />
		<script src="/static/visualization/ember-cli-live-reload.js" type="text/javascript"></script>
		<link rel="stylesheet" href="/static/visualization/assets/vendor.css">
		<link rel="stylesheet" href="/static/visualization/assets/linda-vis-fe.css">

{% endblock %}

{% block content %}
	<script src="/static/visualization/assets/vendor.min.js"></script>
	<script src="/static/visualization/assets/linda-vis-fe.js"></script>
	
    <div class="main">
        <div id="visualizer" class="visualizationTool"></div>
    </div>
{% endblock %}

{% block scripts %}
	<script src="/static/visualization/assets/jquery-csv.js"></script>
{% endblock %}
        