{% extends "base.html" %}
{% load i18n %}
{% block title %}{{class.label}} | LinDA{% endblock %}
{% block bodyclass %}class-details{% endblock %}

{% block content %}
<div class="main">
    <content class="class">
        <h1 class="page-title inline">{{class.label}}</h1>

        <div class="object-links">
            <a href="{{class.uri}}" class="button blue" target="_blank">{% trans "Visit definition page"%}</a>
            <a href="{{class.vocabulary.get_absolute_url}}" class="button green">{% trans "Vocabulary"%}</a>
        </div>

        <div class="container">
            <div>
                <label>{% trans "URI" %}:</label>
                <span>&lt;{{class.uri}}&gt;</span>
            </div>
            <div>
                <label>{% trans "Defined in" %}:</label>
                <span><a href="{{class.vocabulary.get_absolute_url}}">{{class.vocabulary.title}}</a></span>
            </div>
        </div>

        <p class="description">{{class.description|striptags|default:"No description available"}}</p>

        <h2>Has <strong>{{class.domain_of|length}}</strong> properties</h2>
        <div class="class-domain-properties">
            {% for property in domain_properties.object_list %}
                {% with property=property %}
                    {% include "vocabulary/teasers/property.html" %}
                {% endwith %}
            {% endfor %}

            {% with current_url=request.get_full_path page_param='pdomain' page_obj=domain_properties %}
                {% include 'util/paginator.html' %}
            {% endwith %}
        </div>

        <h2>Returned by <strong>{{class.range_of|length}}</strong> properties</h2>
        <div class="class-range-properties">
            {% for property in range_properties.object_list %}
                {% with property=property %}
                    {% include "vocabulary/teasers/property.html" %}
                {% endwith %}
            {% endfor %}

            {% with current_url=request.get_full_path page_param='prange' page_obj=range_properties %}
                {% include 'util/paginator.html' %}
            {% endwith %}
        </div>
    </content>
</div>
{% endblock %}