<div ng-controller="CsvConfigCtrl"> 
  <div class="row">

    <div class="col-md-12">
      CSV File:
    </div>
    <div class="col-md-12">
      <input type="file" ng-file-select="onFileSelect($files)" />
    </div>
  </div>
  
  <br />

  <div class="row">
    <div class="col-md-8">
      <div class="progress" ng-show="progress.submitting">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{progress.value}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress.value}}%">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div align="right">
        <i class="fa fa-spinner fa-spin fa-lg" ng-show="progress.submitting"></i>
        <i class="fa fa-check fa-lg" ng-show="success && submitted" style="color: #449d44"></i>
        <i class="fa fa-times fa-lg" ng-show="!success && submitted" style="color: #c9302c"></i>
        <button type="button" class="btn btn-primary" ng-click="submit()">Submit</button>
      </div>
    </div>
  </div>
</div>
