<div ng-controller="ConfigCtrl"> 
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="hostInput" class="col-md-4 control-label">Host</label>
      <div id="hostInput" class="col-md-8">
        <input type="text" class="form-control" ng-model="rdb.datasource.host" spellcheck="false" />
      </div>

      <label for="driverInput" class="col-md-4 control-label">Driver</label>
      <div id="driverInput" class="col-md-8">
        <input type="text" class="form-control" ng-model="rdb.datasource.driver" spellcheck="false" />
      </div>

      <label for="nameInput" class="col-md-4 control-label">Datasource Name</label>
      <div id="nameInput" class="col-md-8">
        <input type="text" class="form-control" ng-model="rdb.datasource.name" spellcheck="false" />
      </div>

      <label for="userInput" class="col-md-4 control-label">Username</label>
      <div id="userInput" class="col-md-8">
        <input type="text" class="form-control" ng-model="rdb.datasource.username" spellcheck="false" />
      </div>

      <label for="passwordInput" class="col-md-4 control-label">Password</label>
      <div id="passwordInput" class="col-md-8">
        <input type="password" class="form-control" ng-model="rdb.datasource.password" />
      </div>
    </div>

    <div align="right">
      <i class="fa fa-spinner fa-spin fa-lg" ng-show="checking"></i>
      <i class="fa fa-check fa-lg" ng-show="success && checked && !checking" style="color: #449d44"></i>
      <i class="fa fa-times fa-lg" ng-show="!success && checked && !checking" style="color: #c9302c"></i>
      &nbsp;
      <button type="button" class="btn btn-default" ng-click="test()">Test</button>
      <button type="button" class="btn btn-primary" ng-click="apply()">Apply</button>
    </div>
  </form>
</div>
