<div ng-controller="ReconcileCtrl">

  <div class="row">
    <div class="col-md-4">
      <p align="left">
        <select class="form-control" ng-model="table" ng-options="table for table in rdb.selectedTables()">
        </select>
      </p>
    </div>

    <div class="col-md-8">
      <p align="right">
        <i class="fa fa-spinner fa-spin" ng-show="loading"></i>&nbsp;
        <button class="btn btn-primary" ng-click="ask(table, columns)" ng-class="{disabled: table == ''}">Ask the Oracle!</button>
      </p>
    </div>
  </div>

  <table class="table table-scrollable" ng-show="table && table != ''">
    <!-- table and columns -->
    <tr>
      <th><div class="btn btn-sm btn-block">Table <a>{{table}}</a></div></th>
      <th ng-repeat="column in columns"><div class="btn btn-sm btn-block">Column <a>{{column}}</a></div></th>
    </tr>

    <!-- tags -->
    <tr>
      <td><input type="text" class="table-input" placeholder="{{table}}" ng-model="tableTag[table]" /></td>
      <td ng-repeat="column in columns"><input type="text" class="table-input" placeholder="{{column}}" ng-model="columnTags[column]"/></td>
    </tr>

    <!-- suggestions -->
    <tr>
      <td>
        <div class="list-group">
          <a href="" class="list-group-item"
             ng-repeat="i in rdf.suggestions[table].table.recommend" ng-click="selectClass(table, i)" ng-class="{active: isSelectedClass(table, i)}">
            <div rdf-badge
              uri="{{i.uri[0]}}"
              label="{{i.label[0]}}"
              comment="{{i.comment[0]}}"
              definition="{{i.definition[0]}}"
              local="{{i.localName[0]}}"
              prefixed="{{i.prefixedName[0]}}"
              definition="{{i.definition[0]}}"
              vocab-uri="{{i['vocabulary.uri'][0]}}"
              vocab-title="{{i['vocabulary.title'][0]}}"
              vocab-descr="{{i['vocabulary.description'][0]}}"
              score="{{i.score | scoreFilter}}">
            </div>
          </a>
        </div>
      </td>
      <td ng-repeat="column in columns">
        <div class="list-group">
          <a href="" class="list-group-item" 
             ng-repeat="i in getColumnSuggestions(table, column)" ng-click="selectProperty(table, column, i)" ng-class="{active: isSelectedProperty(table, column, i)}">
            <div rdf-badge
              uri="{{i.uri[0]}}"
              label="{{i.label[0]}}"
              comment="{{i.comment[0]}}"
              definition="{{i.definition[0]}}"
              local="{{i.localName[0]}}"
              prefixed="{{i.prefixedName[0]}}"
              definition="{{i.definition[0]}}"
              vocab-uri="{{i['vocabulary.uri'][0]}}"
              vocab-title="{{i['vocabulary.title'][0]}}"
              vocab-descr="{{i['vocabulary.description'][0]}}"
              score="{{i.score | scoreFilter}}">
            </div>
          </a>
        </div>
      </td>
    </tr>
  </table>

</div>
