<section id="{{name}}">
  <div class="row" ng-class="{treated: !isSelected() && isTreated()}" ng-show="isSelected() || isTreated()">
    <h3>{{heading}}</h3>

    <fieldset ng-disabled="!isSelected()">
      <p><div ng-transclude></div></p>
    </fieldset>

    <div ng-show="isSelected()" style="margin-top:2em">
      <a href prev ng-show="!isFirst()">&lt;&lt; Previous&nbsp;</a>
      <a href next ng-show="!isLast()">Next &gt;&gt;</a>
    </div>

    <!-- <hr /> -->
    <p style="margin-bottom:5em"><p>
  </div>
</section>
