{% extends "base.html" %}
{% load url from future %}
{% load i18n thumbnail2 %}

{% block title %}{{analytics.id}} | LinDA{% endblock %}
{% block bodyclass %}analytics{% endblock %}

{% block content %}
<div class="main delete-page">
    <h1 class="page-title inline">Delete analytics</h1>
   

    <form method="post" action="/analytics/{{analytics.id}}/delete/">{% csrf_token %}
        <p>Are you sure you want to delete this analytics?</p>
        <div style="float:left;margin:10px;"><input value='Delete' class="button red left" type="submit"></input></div>
        <div style="float:left;margin:10px;"><a href="/analytics/{{analytics.id}}/" class="button blue right">Cancel</a></div>
    </form>

   
</div>
{% endblock %}
