{% extends "base.html" %}

{% load staticfiles %}
{% load url from future %}
{% load i18n %}
{% block title %}LinDA | {% trans "Analytics" %}{% endblock %}
{% block bodyclass %}analytics{% endblock %}

{% block scripts %}
<script src="/static/js/jquery.bpopup.min.js"></script>
<script src="/static/js/jquery.blockUI.js"></script>

<link rel="stylesheet" type="text/css" href="/static/css/analytics_style.css" />


<script src="/static/js/jquery-ui.js"></script>

<script>
$(document).ready(function(){
    $( "#toggleCategoryDescription" ).click(function() {
        $('#categoryDescription').bPopup();
    });
    
    $( "#toggleAlgorithmDescription" ).click(function() {
       $('#algorithmDescription').bPopup();
    });    
    
    $( "#toggleAnalyticsDescription" ).click(function() {
       $( "#analyticsDescription" ).bPopup();
    });
    
    $( "#toggleAnalyticsModel" ).click(function() {
        $( "#model" ).toggle();
    });
    
    $( "#toggleResultDocument" ).click(function() {
        $( "#resultdocument" ).toggle();
    });
    
    $( "#toggleplot1info" ).click(function() {
        $( "#plot1info" ).toggle();
    });
    
     $( "#toggleplot2info" ).click(function() {
        $( "#plot2info" ).toggle();
    });
    
    
    
    $( "#toggleprocessinfo" ).click(function() {
        $( "#processinfo" ).toggle();
    });
    
    $( "#toggleTrainQueryDescription" ).click(function() {
	$.ajax({
	url : "/analytics/popup_query_info",
	type : "POST",
	dataType: "html",
	data : {
	query_id : {{analytics.trainQuery_id}},
	csrfmiddlewaretoken: '{{ csrf_token }}'
	},
	success : function(data) {
	  $('#queries_info').html(data);
	  $( "#queries_info" ).bPopup();
	},
	error : function(xhr,errmsg,err) {
	alert(xhr.status + ": " + xhr.responseText);
	}
	});
      return false;
   });
  
   $( "#toggleEvaluationQueryDescription" ).click(function() {
	$.ajax({
	url : "/analytics/popup_query_info",
	type : "POST",
	dataType: "html",
	data : {
	query_id : {{analytics.evaluationQuery_id}},
	csrfmiddlewaretoken: '{{ csrf_token }}'
	},
	success : function(data) {
	  $('#queries_info').html(data);
	  $( "#queries_info" ).bPopup();
	},
	error : function(xhr,errmsg,err) {
	alert(xhr.status + ": " + xhr.responseText);
	}
	});
      return false;
   });
   
    $('#reevaluateButton').click(function() { 
        $.blockUI({ css: { 
            border: 'none', 
            padding: '15px', 
            backgroundColor: '#000', 
            '-webkit-border-radius': '10px', 
            '-moz-border-radius': '10px', 
            opacity: .5, 
            color: '#fff' 
        } }); 
         
    }); 

});
</script>
{% endblock %}

{% block content %}
<div class="main content-sidebar">
   <content>
    
           {% if messages %}
            <div style="border:3px solid #FD8036;font-weight:bold">
	      <ul class="messages">
		{% for message in messages %}
		  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	      </ul>
	    </div>  
	   {% endif %}
   
   
          <table>
	    <tr>
	      <td><h1 class="page-title inline">Analytic ID: {{ analytics.id }} - V: {{ analytics.version }}</h1></td>
	      <td>
		  <form id="DeleteAnalytics" action="/analytics/{{ analytics.id }}/delete" method="get" style="margin-right:10px;margin-left:10px;">{% csrf_token %}
		    <input type="submit" value="Delete" style="padding:0px;font-size: 12px;"/>
		  </form>
	      </td>
	      <td>
		  <form id="ReEvaluateAnalytics" action="/analytics/{{ analytics.id }}/reevaluate" method="get">
		    {% csrf_token %}
		    <input id="reevaluateButton" type="submit" value="Re-Evaluate" style="padding:0px;font-size: 12px;"/>
		  </form>		  
	      </td>
	      <td>
		  <form id="analytics_report" action="/analytics/report/{{ analytics.id }}/exportreport" method="get">
		    {% csrf_token %}
		    <input id="getReport" type="submit" value="Download Report" style="margin-left:10px;padding:0px;font-size: 12px;"/>
		  </form>		  
	      </td>
	      
	    </tr>
          </table>
          
          
           {% if analytics.resultdocument %}
          <p style="margin:0px;color:#FC5006;">Result document  <!--{ { analytics.resultdocument.name } }-->
          
	     {% if analytics.loadedRDFContext|length > 0 %}
             <p style= "border:3px solid #FD8036;font-weight:bold">{{ analytics.loadedRDFContext|safe }}</p>
             {% endif %}
             <button id="toggleResultDocument" type="button">see/hide Info</button>
             <a href="{{analytics.display_linda_apache_analytics}}{{analytics.resultdocument}}" TARGET="_blank">
	      <img border="0" alt="openfile" src="/static/images/eye-view-icon.jpg"/>
             </a>
             {% if  analytics.publishedToTriplestore|lower == 'false' %}
		{% if  analytics.isExportFormatRDFXML|lower == 'rdfxml' or  analytics.isExportFormatTTL|lower == 'ttl'   or  analytics.isExportFormatNTRIPLES|lower == 'ntriples' %} 
		    <form class="form rdf-form datasource-create-form" method="post" action="/analytics/datasourceCreateRDF/" enctype="multipart/form-data">{% csrf_token %}		    
			 {% if form_error %}
			  <p class="error">{{form_error}}</p>
			{% endif %}
			<input class="hidden" type="text" name="analytics_id" id="analytics_id" value="{{ analytics.id }}"/>
			<input class="hidden" type="text" name="title" id="id_title" value="{{ analytics.display_resultdocument_title }}"/>
			<textarea class="hidden" name="rdfdata">{{analytics.display_resultdocument_file}}</textarea>
			<input type="submit" class="button blue create-datasource-submit" value='{% trans "Save as LinDa Datasource"%}'/>
		  </form>
		{% endif %}
             {% endif %}
            <div id="resultdocument"  class ="analytics-description-visible">
                <pre>{{analytics.display_resultdocument_file}}</pre>
            </div>
           </p>
           {% endif %}
          
          {% if analytics.processMessage|length > 0 %}
            <pre><p style= "border:3px solid #FD8036;font-weight:bold">{{ analytics.processMessage|safe }}</p></pre>
          {% endif %}
          
          {% if analytics.plot1 %}
	      {% if analytics.exists_plot1_file %}
		<p style="margin:0px;color:#FC5006;">{{ analytics.plot1.description }} 
		<button id="toggleplot1info">see/hide Plot</button>
		  <div id="plot1info"  >
		  <img src="{{analytics.display_linda_apache_analytics}}plots/plotid{{analytics.plot1.id}}.png"></img>
		    
		  </div>
		</p>
	      {% else %}
	       <p style="margin:0px;color:#FC5006;">No Plot generated for this analytics process.</p>
	      {% endif %}
           {% endif %}
           
          
          
          {% if analytics.plot2 %}
             {% if analytics.exists_plot2_file %}
	      <p style="margin:0px;color:#FC5006;">{{ analytics.plot2.description }} 
		<button id="toggleplot2info">see/hide Plot</button>
		<div id="plot2info"  >
		  <img src="{{analytics.display_linda_apache_analytics}}plots/plotid{{analytics.plot2.id}}.png"></img>
		    
		  </div>
	      </p>
             {% else %}
             <p style="margin:0px;color:#FC5006;">No Plot generated for this analytics process.</p>
	     {% endif %}
           {% endif %}

          {% if analytics.modelReadable %}
          <p style="margin:0px;color:#FC5006;">Analytics model file 
          <!--{ { analytics.modelReadable } }-->
             <button id="toggleAnalyticsModel">see/hide Info</button>
            <div id="model"   class="analytics-description-visible">
                <pre>{{analytics.display_model_file}}</pre>
              </div>
          </p>
          {% endif %}

          {% if analytics.processinfo %}
          <p style="margin:0px;color:#FC5006;">Process Info  <!--{ { analytics.processinfo } }-->
             <button id="toggleprocessinfo">see/hide Info</button>
            <div id="processinfo"  class="analytics-description-visible">
                <pre>{{analytics.display_processinfo_file}}</pre>
              </div>
          </p>
          {% endif %}
          
         
          
          <div id="queries_info" class="analytics-description-hidden" ></div>
    </content>
<aside1>
       <div class="sidebar-block" id="analytics_general_info">
            <h3 class="sidebar-title">{% trans "Current Analytic Info" %}</h3>
                     <table>
                                 <tr>
				    <td>
					<p> Analytics Category :</br>{{ analytics.category }}
					  <input type="image" src="/static/images/info-button-orange-small.jpg" name="toggleCategoryDescription"  id="toggleCategoryDescription" />
					  <div id="categoryDescription" class="analytics-description-hidden" >
					    <h1>{{ analytics.category }} Description: </h1></br>
					    {{analytics.display_category_description|safe}}
					  </div>
					</p>				    
				    </td>
				  </tr>
				  <tr>
				    <td>
					<p> Analytics Algorithm : </br> {{ analytics.algorithm }}	    
					  <input type="image" src="/static/images/info-button-orange-small.jpg" name="toggleAlgorithmDescription"  id="toggleAlgorithmDescription" />
					  <div id="algorithmDescription" class="analytics-description-hidden" >
					    <h1>{{ analytics.algorithm }} Description: </h1></br>
					    {{analytics.display_algorithm_description|safe}}
					  </div>
					</p>			    
				    </td>
				  </tr>
				  <tr>
				    <td>
				      {% if analytics.parameters %}
					<p>Algorithm Parameters : </br> {{ analytics.parameters }}</p> 
				      {% endif %}		    
				    </td>
				  </tr>
				  <tr>
				    <td>     
				      <p>Analytic process Description 
				        <input type="image" src="/static/images/info-button-orange-small.jpg" name="toggleAnalyticsDescription"  id="toggleAnalyticsDescription" />
					  <div id="analyticsDescription" class="analytics-description-hidden" >
					    <h1>Analytic Process Description: </h1></br>
					    {{analytics.description}}
					  </div>
				      </p>		    
				    </td>
				  </tr>
				  <tr>
				    <td>     
				       <p>Export Format : {{ analytics.exportFormat }}</p>		    
				    </td>
				  </tr>
				  <tr>
				    <td> 
				     {% if analytics.document and not analytics.trainQuery %}
				       <p>Analytics train dataset :<div class="analytics-description-visible-right">{{ analytics.document }}</div><p>
				     {% endif %} 
				     
				     {% if analytics.trainQuery and analytics.evaluationQuery %}
				       <p style="float:left;">Analytics train Query :<p>
				     {% endif %} 
				     {% if analytics.trainQuery and  not analytics.evaluationQuery %}
				       <p style="float:left;">Analytics input Query :<p>
				     {% endif %} 
				     {% if analytics.trainQuery %}
				      <input type="image" src="/static/images/info-button-orange-small.jpg" name="toggleTrainQueryDescription"  id="toggleTrainQueryDescription" />
				      <div class="analytics-description-visible-right">{{ analytics.trainQuery }}</div>
				     {% endif %} 
				     </br>
				    </td>
				  </tr>
				  <tr>
				    <td>     
				      {% if analytics.testdocument and not analytics.evaluationQuery %}
				      <p>Analytics evaluation dataset :<div class="analytics-description-visible-right">{{ analytics.testdocument }}</div><p>	
				      {% endif %}
				      {% if analytics.evaluationQuery %}
				       <p style="float:left;">Analytics evaluation Query :<p>
				       <input type="image" src="/static/images/info-button-orange-small.jpg" name="toggleEvaluationQueryDescription"  id="toggleEvaluationQueryDescription" />
				       <div class="analytics-description-visible-right">{{ analytics.evaluationQuery }}</div>
				      {% endif %} 
				    </td>
				  </tr>				  
                    </table>
                     <table>
                                 <tr>
				    <td>
					 </br><p style="margin:0px;color:#FC5006;"><b>Performance Numbers :</b></p>				    
				    </td>
				  </tr>
				  <tr>
				    <td>
					 Time To Get Data: {{analytics.timeToGet_data}} sec
				    </td>
				  </tr>
				  <tr>
				    <td>
					 Size Of Analyzed Data : {{analytics.data_size}} B
				    </td>
				  </tr>
				  <tr>
				    <td>
					 Time To Run analytics: {{analytics.timeToRun_analytics}} sec
				    </td>
				  </tr>
				   <tr>
				    <td>
					Time To Result Document:   {{analytics.timeToCreate_RDF}} sec    
				    </td>
				  </tr>
		    </table>
        </div>
        <div class="sidebar-block" id="analytics_list">
            <h3 class="sidebar-title">{% trans "My Analytics" %}</h3>
                     <table>
                        {% if analytics_list %}

                            {% for analytics in analytics_list %}
                                 <tr>
				    <td>
                                    <a href="/analytics/{{ analytics.id }}/">({{ analytics.algorithm }}) -- analytics ID : {{ analytics.id }} </a>
				    </td>
				  </tr>
                            {% endfor %}

                        {% else %}
                            <p>No analytics are available.</p>
                        {% endif %}
                    </table>
       </div>
</aside1>

</div>
{% endblock %}

