{% load i18n %}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}LinDa{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    {% block css %}{% endblock %}
</head>

<body class="{% block bodyclass %}home{% endblock %}">

<noscript>
    <p class="warning">Please enable JavaScript in your browser to view this website properly.</p>
</noscript>

<div class="wrapper">
    {% include 'util/header.html' %}
    {% block content %}
    {% endblock %}
    {% include 'util/footer.html' %}
</div>
</body>

<script src="/static/js/jquery.min.js"></script>
{% block scripts %}{% endblock %}

</html>