<div ng-controller="ConfigCtrl"> 
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="dataSourceSelect" class="col-md-2 control-label">Data Source</label>
      <div id="dataSourceSelect" class="col-md-8">
        <select class="form-control" ng-model="config.datasource" ng-options="datasource.name for datasource in config.datasources">
          <option value="">Choose ...</option>
        </select>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary" ng-click="newDatasource()"><span class="glyphicon glyphicon-plus"></span><!-- New --></button>
        <button class="btn btn-default" ng-click="editDatasource()"><span class="glyphicon glyphicon-wrench"></span><!-- Configure --></button>
      </div>
    </div>

    <div class="form-group">
      <label for="baseUriInput" class="col-md-2 control-label">Base URI</label>
      <div id="baseUriInput" class="col-md-8">
        <input class="form-control" placeholder="http://linda-project.eu/example/#" ng-model="config.baseUri" />
      </div>
    </div>
  </form>
</div>
