<div class="modal-header">
  <h3>{{title}}</h3>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="datasourceNameInput" class="col-md-4 control-label">Data Source Name</label>
    <div id="datasourceNameInput" class="col-md-8">
      <input type="text" class="form-control" ng-model="selected.name" />
    </div>

    <label for="subprotocolInput" class="col-md-4 control-label">Protocol</label>
    <div id="subprotocolInput" class="col-md-8">
      <input type="text" class="form-control" ng-model="selected.subprotocol" />
    </div>

    <label for="subnameInput" class="col-md-4 control-label">Subname</label>
    <div id="subnameInput" class="col-md-8">
      <input type="text" class="form-control" ng-model="selected.subname" />
    </div>

    <label for="userInput" class="col-md-4 control-label">Username</label>
    <div id="userInput" class="col-md-8">
      <input type="text" class="form-control" ng-model="selected.username" />
    </div>

    <label for="passwordInput" class="col-md-4 control-label">Password</label>
    <div id="passwordInput" class="col-md-8">
      <input type="password" class="form-control" ng-model="selected.password" />
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
</div>
