<div>
  <h3>Playground</h3>

  <form class="form-horizontal" role="form">

    <!-- subjects -->
    <div class="row form-group">
      <div class="row">
        <label for="subject" class="col-md-2 control-label">table name:</label>
        <div class="col-md-8">
          <input class="form-control" ng-model="subject" ng-blur="submitTemplate()" />
        </div>
      </div>

      <div ng-show="false">
        <div class="row">
          <label for="subject" class="col-md-2 control-label">subject classes:</label>
        </div>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <input class="form-control" ng-model="template" ng-blur="submitTemplate()" />
          </div>
        </div>
      </div>
    </div>

    <!-- properties -->

  </form>
</div>
