<div ng-controller="VocabCtrl"> 
  <form class="form-horizontal" role="form">
    <div class="form-group">

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-2">
            <label for="vocabSelect" class="control-label">Vocabulary</label>
          </div>
          <div id="vocabSelect" class="col-md-8">
            <input class="form-control" type="text" ng-model="selected" placeholder="Search Linked Open Vocabulary (LOV) ..." 
                   typeahead="vocab for vocab in typeaheadLOVVocabs($viewValue) | filter:$viewValue | limitTo:5"
                   typeahead-input-formatter="formatVocab($model)"
                   typeahead-template-url="partials/vocabs_ta.html" />
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary" ng-click="addVocab(selected)"><span class="glyphicon glyphicon-plus"></span><!-- New --></button>
            <button class="btn btn-default" ng-click="searchVocab()"><span class="glyphicon glyphicon-search"></span><!-- New --></button>
          </div>
        </div>

        <ul class="list-group">
          <li class="list-group-item" ng-repeat="vocab in vocabs">
            <div class="col-md-2">
              <button class="btn btn-danger" ng-click="removeVocab(vocab)"><span class="glyphicon glyphicon-remove"></span><!-- New --></button>
            </div>
            <p>
              <span><a href="{{vocab.uri}}">{{vocab.uri}}</a></span>
            </p>
            <p>
              <span class="text-muted">{{vocab.prefix}}</span>
              <span class="score">{{vocab.score}}</span>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </form>
</div>
