<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="/static/r2r/styles/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- endbuild -->
  </head>
  <body ng-app="app">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div ng-view="main">
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <!--  <script> -->
    <!--    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ -->
    <!--    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), -->
    <!--    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) -->
    <!--    })(window,document,'script','//www.google&#45;analytics.com/analytics.js','ga'); -->

    <!--    ga('create', 'UA&#45;XXXXX&#45;X'); -->
    <!--    ga('send', 'pageview'); -->
    <!-- </script> -->

    <script>
        R2R_PROXY = '{{R2R_PROXY}}'
    </script>
    <!--[if lt IE 9]>
    <script src="/static/r2r/bower_components/es5-shim/es5-shim.js"></script>
    <script src="/static/r2r/bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <!--<script src="/static/r2r/bower_components/jquery/src/jquery.js"></script>-->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/r2r/bower_components/angular/angular.js"></script>

   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/static/r2r/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/static/r2r/bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/static/r2r/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/static/r2r/bower_components/angular-route/angular-route.js"></script>
    <script src="/static/r2r/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/static/r2r/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/static/r2r/bower_components/jsedn/jsedn.js"></script>
    <script src="/static/r2r/bower_components/angular-scroll/angular-scroll.min.js"></script>
    <script src="/static/r2r/bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="/static/r2r/scripts/app.js"></script>
        <script src="/static/r2r/scripts/services/jsedn.js"></script>
        <script src="/static/r2r/scripts/services/config.js"></script>
        <script src="/static/r2r/scripts/services/rdb.js"></script>
        <script src="/static/r2r/scripts/services/rdf.js"></script>
        <script src="/static/r2r/scripts/services/vocab.js"></script>
        <script src="/static/r2r/scripts/services/r2rs.js"></script>
        <script src="/static/r2r/scripts/services/underscore.js"></script>
        <script src="/static/r2r/scripts/services/oracle.js"></script>
        <script src="/static/r2r/scripts/directives/config.js"></script>
        <script src="/static/r2r/scripts/directives/rdb.js"></script>
        <script src="/static/r2r/scripts/directives/rdf.js"></script>
        <script src="/static/r2r/scripts/directives/mappings.js"></script>
        <script src="/static/r2r/scripts/directives/vocab.js"></script>
        <script src="/static/r2r/scripts/directives/wizard.js"></script>
        <script src="/static/r2r/scripts/directives/playground.js"></script>
        <script src="/static/r2r/scripts/controllers/main.js"></script>
        <script src="/static/r2r/scripts/controllers/rdb.js"></script>
        <script src="/static/r2r/scripts/controllers/rdf.js"></script>
        <script src="/static/r2r/scripts/controllers/vocab.js"></script>
        <script src="/static/r2r/scripts/controllers/config.js"></script>
        <script src="/static/r2r/scripts/controllers/oracle.js"></script>
        <!-- endbuild -->
</body>
</html>
