<div class="row box">
    <div class="large-5 medium-3 columns">
        <!-- Data Selection -->        
        <div class="row inner_box dsdefault">
            <div class="inner_title_box">
                <h7>Explore and Select Data</h7>
            </div>
            <div>
                {{tree-selection treedata=controller.treeContent selection=controller.dataSelection}} 
            </div>
        </div>                                                            
    </div>                                         

    <div class="large-7 medium-9 columns">       
        <div class="inner_box dsdefault">
            <!-- Data Selection Preview -->
            <div class="inner_title_box">
                <h7>Preview Data Selection</h7> <span class="visualize"><a {{action 'visualize'}}>Visualize</a></span>
            </div>
            <div>  
                {{data-table preview=controller.dataSelection datasource=controller.selectedDatasource}} 
            </div>          
        </div>   
    </div>
</div>  