<div class="consumption">
    <h7> EXPORT CHART AS </h7>
    <ul class="inline-list">
        <li><a {{action 'exportSVG' 'svg'}}>SVG</a></li>
        <li><a {{action 'exportPNG' 'png'}}>PNG</a></li>      
    </ul>
</div>  
