<div class="consumption">
    <div class="consumption-title">
        <h7> Export Chart </h7>
    </div>
    <div>
        Export as {{view 'Ember.Select' content=controller.exportFormats value=controller.selectedFormat}} <a {{action 'export'}} class="postfix"> <i class="fi-page-export consumption-icons"></i></a>                  
    </div>
</div>
   
