<h6>Examples</h6>
<ul>
  <li>
      {{#link-to 
          'visualization'
          'TS1_LinearRegression_Result_And_Original'
          'http%3A%2F%2Flocalhost%3A8890%2Fsparql'
          'http%3A%2F%2Fwww.linda-project.org%2FTS1_LinearRegression_Result_Original'
          'rdf'}}          
          Linear Regression Analysis result
      {{/link-to}}  
  </li>
  <li>
      {{#link-to
          'visualization'
          'Sales%20Statistics'
          'http%3A%2F%2Flocalhost%3A3002%2Ftestsets%2FTS2_Sales_Statistics.csv'
          '-'
          'csv'}}
          Ubitech Testset 2 (CSV)
      {{/link-to}}
  </li>
  <li>
      {{#link-to
          'visualization'
          'Ubitech%20Testset%202'
          'http%3A%2F%2Flocalhost%3A3002%2Ftestsets%2FionosphereToTrain_J48_resultdocument.csv'
          '-'
          'csv'}}
          Ubitech Testset 2 (CSV)
      {{/link-to}}
  </li>
  <li>
      {{#link-to 
          'visualization'
          'Ubitech%20Testset%203'
          'http%3A%2F%2Flocalhost%3A3002%2Ftestsets%2FairlineToForecast_5xQ3Xie_Arima_resultdocument.csv'
          '-'
          'csv'}}
          Ubitech Testset 3 (CSV)
      {{/link-to}}
  </li>
  <li>
      {{#link-to 
          'visualization'
          'Healthcare%20Analysis'
          'http%3A%2F%2Flocalhost%3A8890%2Fsparql'
          'http%3A%2F%2Fwww.hospitals_reviewer.com%2F2014'
          'rdf'}}
          Healthcare example
      {{/link-to}}
  </li>
  <li>
      {{#link-to 
          'visualization'
          'Water%20Quality%20Analysis'
          'http%3A%2F%2Flocalhost%3A8890%2Fsparql'
          'http%3A%2F%2Fwater_quality_check.it%2Finfo'
          'rdf'}}
          Water Quality Example
      {{/link-to}}
  </li>
  <li>
      {{#link-to 
          'visualization'
          'Newspaper%20Articles%20Analysis'
          'http%3A%2F%2Flocalhost%3A8890%2Fsparql'
          'http%3A%2F%2Fnewspaper.org%2Farticles_2007'
          'rdf'}}
          Newspaper Articles Example (RDF)
      {{/link-to}}
  </li>
  <li>
      {{#link-to 
          'visualization'
          'Newspaper%20Articles%20Analysis'
          'http%3A%2F%2Flocalhost%3A3002%2Ftestsets%2FUC2_Newspaper-Articles-Analysis.csv'
          '-'
          'csv'}}
          Newspaper Articles Example (CSV)
      {{/link-to}}
  </li>
  <li>
      {{#link-to 
          'visualization'
          'Drug%20Price%20Analysis'
          'http%3A%2F%2Flocalhost%3A3002%2Ftestsets%2FUC1_Drug_Price_Analysis.csv'
          '-'
          'csv'}}
          Drug Price Analysis Example
      {{/link-to}}
  </li>
</ul>
