<div class="box" style="height:600px;">
    <h6>Visualizations</h6>
    <ul>
        <li>  
            {{#link-to
            'datasource'
            'DepartmentOfAgriculture-Quick%20Stats'
            'http%3A%2F%2F107.170.70.175%3A8890%2Fsparql'
            'http%3A%2F%2Fwww.linda-project.org%2Fexamples%2FDepartmentOfAgriculture-QuickStats.nt'
            'rdf'
            }}
            1. DepartmentOfAgriculture-Quick Stats (RDF format)
            {{/link-to}}
        </li>
        <li>
            {{#link-to
            'datasource'
            'DepartmentOfDefense-Marital%20Status'
            'http%3A%2F%2F107.170.70.175%3A8890%2Fsparql'
            'http%3A%2F%2Fwww.linda-project.org%2Fexamples%2FDepartmentOfDefense-MaritalStatus.nt'
            'rdf'
            }}
            2. DepartmentOfDefense-Marital Status (RDF format)
            {{/link-to}}
        </li>
        <li>
            {{#link-to
            'datasource'
            'DepartmentofHealthandHumanServices-OMHClaims%20Listed%20by%20State'
            'http%3A%2F%2F107.170.70.175%3A8890%2Fsparql'
            'http%3A%2F%2Fwww.linda-project.org%2Fexamples%2FDepartmentofHealthandHumanServices-OMHClaimsListedbyState.nt'
            'rdf'
            }}
            3. DepartmentofHealthandHumanServices-OMH Claims Listed by State (RDF format)
            {{/link-to}}
        </li>
        <li> 
            {{#link-to
            'datasource'
            'DepartmentOfTheInterior-Wildl%20and%20Fires%20and%201960-2008'
            'http%3A%2F%2F107.170.70.175%3A8890%2Fsparql'
            'http%3A%2F%2Fwww.linda-project.org%2Fexamples%2FDepartmentOfTheInterior-WildlandFiresand1960-2008.nt'
            'rdf'
            }}
            4. DepartmentOfTheInterior-Wildland Fires 1960-2008 (RDF format)
            {{/link-to}}
        </li>
        <li>
            {{#link-to
            'datasource'
            'DepartmentofState-Africa%20Conflicts%20Without%20Borders%202009'
            'http%3A%2F%2F107.170.70.175%3A8890%2Fsparql'
            'http%3A%2F%2Fwww.linda-project.org%2Fexamples%2FDepartmentofState-AfricaConflictsWithoutBorders2009.nt'
            'rdf'
            }}
            5. DepartmentOfState-Africa Conflicts Without Borders 2009 (RDF format)
            {{/link-to}}
        </li>
        <li>  
            {{#link-to
            'datasource'
            'DepartmentOfTheTreasury-Quarterly%20Report%20on%20Bank%20Derivatives%20Activities'
            'http%3A%2F%2F107.170.70.175%3A8890%2Fsparql'
            'http%3A%2F%2Fwww.linda-project.org%2Fexamples%2FDepartmentOfTheTreasury-QuarterlyReportonBankDerivativesActivities.nt'
            'rdf'
            }}
            6. DepartmentOfTheTreasury-Quarterly Report on Bank Derivatives Activities (RDF format)
            {{/link-to}}
        </li>     
        <li>
            {{#link-to
            'datasource'
            'DepartmentOfVeteransAffairs-Veterans%20Health%20Administration%202008'
            'http%3A%2F%2F107.170.70.175%3A8890%2Fsparql'
            'http%3A%2F%2Fwww.linda-project.org%2Fexamples%2FDepartmentOfVeteransAffairs-VeteransHealthAdministration2008.nt'
            'rdf'
            }}
            7. DepartmentOfVeteransAffairs-Veterans Health Administration 2008 (RDF format)
            {{/link-to}}
        </li>       
        <li>
            {{#link-to
            'datasource'
            'GeneralServicesAdministration-Cash%20and%20Payments%20Management%20Data'
            'http%3A%2F%2F107.170.70.175%3A8890%2Fsparql'
            'http%3A%2F%2Fwww.linda-project.org%2Fexamples%2FGeneralServicesAdministration-CashandPaymentsManagementData.nt'
            'rdf'
            }}
            8. GeneralServicesAdministration- Cash and Payments Management Data (RDF format)
            {{/link-to}}
        </li>
        <li>
            {{#link-to
            'datasource'
            'NationalScienceFoundation-NSF%20Research%20Grant%20Funding%20Rates'
            'http%3A%2F%2F107.170.70.175%3A8890%2Fsparql'
            'http%3A%2F%2Fwww.linda-project.org%2Fexamples%2FNationalScienceFoundation-NSFResearchGrantFundingRates.nt'
            'rdf'
            }}

            9. NationalScienceFoundation- NSF Research Grant Funding Rates (RDF format)
            {{/link-to}}
        </li>
        <li>
            {{#link-to
            'datasource'
            'NationalTransportationSafetyBoardAviation-Accident%20Statistics%202008'
            'http%3A%2F%2F107.170.70.175%3A8890%2Fsparql'
            'http%3A%2F%2Fwww.linda-project.org%2Fexamples%2FNationalTransportationSafetyBoardAviation-AccidentStatistics2008.nt'
            'rdf'
            }}
            10. NationalTransportationSafetyBoardAviation- Fatal Accident Statistics 2008 (RDF format)
            {{/link-to}}
        </li>
        <li> 
            {{#link-to
            'datasource'
            'OfficeofPersonnelManagement-Fiscal%20Year%202007%20Employee%20Survivor%20Annuitants'
            'http%3A%2F%2F107.170.70.175%3A8890%2Fsparql'
            'http%3A%2F%2Fwww.linda-project.org%2Fexamples%2FOfficeofPersonnelManagement-FiscalYear2007EmployeeSurvivorAnnuitants.nt'
            'rdf'
            }}
            11. OfficeOfPersonnelManagement-Fiscal Year 2007 Employee Survivor Annuitants (RDF format)
            {{/link-to}}
        </li>  
        <li>
            {{#link-to
            'datasource'
            'SecurityAndExchangeCommission-Public%20Company%20Bankruptcy%20Cases%202009'
            'http%3A%2F%2F107.170.70.175%3A8890%2Fsparql'
            'http%3A%2F%2Fwww.linda-project.org%2Fexamples%2FSecurityAndExchangeCommission-PublicCompanyBankruptcyCases2009.nt'
            'rdf'
            }}     
            12. SecurityAndExchangeCommission- Public Company Bankruptcy Cases 2009 (RDF format)
            {{/link-to}}
        </li>
        <li>        
            {{#link-to
          'datasource'
          'Sales%20Statistics'
          'http%3A%2F%2F107.170.70.175%3A3002%2Ftestsets%2FTS2_Sales_Statistics.csv'
          '-'
          'csv'}}
            13. Sales Statistics (dimple dataset; CSV format)
            {{/link-to}}
        </li>
        <li>
            {{#link-to 
          'datasource'
          'World%20Bank%20GDP%20per%20capita'
          'http%3A%2F%2F107.170.70.175%3A8890%2Fsparql'
          'http%3A%2F%2Fwww.linda-project.org%2Fexamples%2Fworldbank-slice-5000'
          'rdf'}}

            14. GDP per Capita Example (temporal/statistical dataset; RDF (data cube) format)
            {{/link-to}}
        </li>
        <li>
            {{#link-to 
          'datasource'
          'Healthcare%20Analysis'
          'http%3A%2F%2F107.170.70.175%3A8890%2Fsparql'
          'http%3A%2F%2Fwww.hospitals_reviewer.com%2F2014'
          'rdf'}}
            15. Healthcare Example (geographical/statistical dataset; RDF (basic geo) format)
            {{/link-to}}
        </li>
        <li>
            {{#link-to 
          'datasource'
          'Water%20Quality%20Analysis'
          'http%3A%2F%2F107.170.70.175%3A8890%2Fsparql'
          'http%3A%2F%2Fwater_quality_check.it%2Finfo'
          'rdf'}}
            16. Water Quality Example (statistical dataset; RDF format)
            {{/link-to}}
        </li>
        <li>
            {{#link-to 
          'datasource'
          'Newspaper%20Articles%20Analysis'
          'http%3A%2F%2F107.170.70.175%3A8890%2Fsparql'
          'http%3A%2F%2Fnewspaper.org%2Farticles_2007'
          'rdf'}}
            17. Newspaper Articles Example (statistical dataset; RDF format)
            {{/link-to}}
        </li>
        <li>
            {{#link-to 
          'datasource'
          'Newspaper%20Articles%20Analysis'
          'http%3A%2F%2F107.170.70.175%3A8890%2Fsparql'
          'http%3A%2F%2Fnewspaper.org%2Farticles_2007'
          'rdf'}}
            18. Newspaper Articles Example (statistical dataset; RDF format)
            {{/link-to}}
        </li>
        <li>
            {{#link-to 
          'datasource'
          'Bundestagswahlstatistik'
          'http%3A%2F%2F107.170.70.175%3A8890%2Fsparql'
          'http%3A%2F%2FBundestagswahlstatistik'
          'rdf'}}
            19. Bundestagswahlstatistik (statistical dataset; RDF format)
            {{/link-to}}
        </li>
         <li>
            {{#link-to 
          'datasource'
          'Health Data.gov - Hospital Inpatient Discharges by Facility'
          'http%3A%2F%2F107.170.70.175%3A8890%2Fsparql'
          'http%3A%2F%2FHealthData.govHospitalInpatientDischargesbyFacility'
          'rdf'}}
            19. Health Data.gov - Hospital Inpatient Discharges by Facility (statistical dataset; RDF format)
            {{/link-to}}
        </li>
    </ul>
</div>