<div class="row box">
    <div class="large-12 medium-12 columns">
        <div class="inner_box dsdefault">
            <div class="inner_title_box">
                <h7>Load</h7>
            </div>
            <div>
                {{#each visualization in model}}
                    {{#link-to 'visualization' 'visualizationConfiguration' visualization.id}}{{visualization.visualizationConfigName}}{{/link-to}}
                {{/each}}
            </div>
        </div>                                                            
    </div>                                         
</div>  