<div class="consumption">
    <div class="consumption-title">
        <a {{action 'publish'}}><h7> Embed Chart into Website </h7> </a>
    </div>
    {{textarea value=controller.visualizationSVG cols="60" rows="1"}}
</div>
