<div class="consumption">
    <h7> SAVE SETTINGS </h7>
    <div class="row collapse">
        <div class="medium-10 small-9 columns">
            {{input value="" placeholder="Enter name."}}
        </div>
        <div class="medium-2 small-3 columns">
            <a {{action 'save'}} class="postfix"> <i class="fi-save save-visualization"></i></a> 
        </div>
    </div>
</div>