<div class="consumption">
    <div class="consumption-title">    
        <h7> Save Settings </h7>
    </div>
    <div>
        {{input value=controller.configName placeholder="Enter name." size="15"}} <a {{action 'save'}} class="postfix"> <i class="fi-save save-visualization  consumption-icons"></i></a>     
    </div>
</div>