{{#each visualization in view.slides}}
<div><a {{action 'chooseVisualization' visualization}}> <img {{bind-attr src="visualization.visualizationThumbnail"}} {{bind-attr class="visualization.valid:valid-suggestion:invalid-suggestion"}} /> </a></div>
{{/each}}
