/*
Design for Vocabulary selection boxes
*/

.bb_select {
    width: 20em;
    height: 2em;
}

/*inner divs for design purposes*/
.bb_select_inner {
    width: 20em;
    height: 1.4em;
}

.bb_select_inner:hover {
    width: 20em;
    height: 15.4em;
}

/*container that holds the vocab list that is shown on mouseover*/
.bb_select_elements {
    position: fixed;
    width: inherit;
    max-height: 12em;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 2px solid #bbb;
}

/*the single items/vocabs in the list*/
.bb_select_elements div, .bb_select_nodropdown_elements div {
    padding: .2em;
    min-height: 2em;
    border: 1px solid #ddd;
    border-top: 0px;
    background-color: white;
    font-size: smaller;
    overflow: hidden;
}

.bb_select_elements div:hover, .bb_select_nodropdown_elements div:hover{
    padding: .2em;
    min-height: 2em;
    background-color: #eee;
    cursor: pointer;
}

/*The top part taht shows the selected vocab*/
.bb_select_selection {
    background-color: #d0d0d0;
    padding: .2em;
    min-height: 2.8em;
    overflow: hidden;
    font-size: smaller;
    border: 2px solid #bbb;
    color: #111;
}

/*The item in the list that is the chosen vocab*/
.bb_select_clicked {
    background-color: #dfdfdf !important;
}

/*looks like dropdown, but with no function*/
.bb_select_nodropdown {
    position: relative;
    width: 20em;
    background-color: #d0d0d0;
    padding: .2em;
    min-height: 2.8em;
    overflow: hidden;
    font-size: smaller;
    border: 2px solid #bbb;
    color: #111;
    margin-bottom: 0.5em;
}

/*the single items/vocabs in the list*/
.bb_select_nodropdown_elements {
    /*position: relative;*/
    width: 20em;
    max-height: 12em;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 2px solid #bbb;
}
