{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block title %}{% trans "Sign In" %}{% endblock %}
{% block bodyclass %}login{% endblock %}

{% block content %}
	<div class="main centered">
		<h1 class="page-title">{% trans "Sign In" %}</h1>
		<p>Give your credentials to sign in, or <a href="{{ signup_url }}">Sign up</a> to create an account if you don't have one.</p>
		
		<form id="form-login" class="form" method="post" action="{% url 'account_login' %}">
				{% csrf_token %}
				
				{% if redirect_field_value %}
					<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
				{% endif %}
				
				<div class="error">{{ form.non_field_errors }}</div>
				
				<div class="form-field">
					<div class="error">{{form.login.errors}}</div>
					<label for="user_login">{%trans "Username" %}:</label>
					<input id="user_login" class="input-text" type="text" name="login" required="true">
				</div><!-- .form-field -->

				<div class="form-field">
					<div class="error">{{form.password.errors}}</div>
					<label for="user_password">{%trans "Password" %}:</label>
					<input id="user_password" class="input-text" type="password" name="password" required="true">
				</div><!-- .form-field -->

				<div class="clearfix form-actions">
					<input class="button inline green centered" type="submit" name="login-submit" value='{% trans "Sign In" %}'>
					<span class="align-right forgotpass-link"><a href="{% url 'account_reset_password' %}">{% trans "forgot password?" %}</a></span>
				</div><!-- .clearfix -->
				
			</form><!-- #form-login .form-default -->

		{% if user.is_authenticated %}
			{% include "account/snippets/already_logged_in.html" %}
		{% endif %}

	</div><!-- #main .site-main -->
{% endblock %}

