{% extends "base.html" %}

{% load i18n %}
{% block title %}{% trans "Vocabulary search" %} | LinDA{% endblock %}
		
{% block content %}
	<div class="main">
		<h1 class="page-title">LinDA - {% trans "Vocabulary search" %}</h1>
		
		<div class="home-search centered">
			<form method="get" action="/vocabulary-search" class="form">
				
				<input type="text" name="q" placeholder='{% trans "Search LinDA" %}'/>
				<input type="submit" value=""/>
				
			</form>
			
			<!--
			{% for vocabulary in vocabularylist %}
				<h3>{{vocabulary.title}}</h3>
			{% empty %}
				<p>{% trans "No vocabularies."</p>
			{% endfor %}
			-->
		</div>
	</div>
{% endblock %}