{% extends "base.html" %}

{% load i18n %}
{% block title %}{% trans "Vocabulary search" %} | LinDA{% endblock %}
		
{% block content %}
	<div class="main">
		<h1 class="page-title">LinDA - {% trans "Vocabulary search" %}</h1>
		
		<div class="home-search centered">
			<form method="get" action="/vocabulary-search" class="form">
				
				<input type="text" name="q" placeholder='{% trans "Search LinDA" %}'/>
				<input type="submit" value=""/>
				
			</form>

            <div class="search-filters">
                <a href="#" class="button white active">Vocabularies</a>
                <a href="#" class="button white">Classes</a>
                <a href="#" class="button white">Properties</a>
            </div>

            <div class="search-results">
                {% for vocabulary in vocabularylist %}
                <div class="vocabulary-teaser">
                    <h3><a href="/vocabulary/{{vocabulary.id}}">{{vocabulary.title}}</a></h3>
                    <a href="{{vocabulary.preferredNamespacePrefix}}"></a>
                    <span>{{vocabulary.description|slice:"150"}}...</span>
                    <a href="/vocabulary/{{vocabulary.id}}" class="read-more button gray">{% trans "Read more" %}</a>
                </div>

                {% empty %}
                    <p>{% trans "No vocabularies match this query."</p>
                {% endfor %}

            </div>


        {% with current_url="/vocabulary-search" %}
            {% include 'util/paginator.html' %}
        {% endwith %}
		</div>
	</div>
{% endblock %}