{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <div class="main">
		<h1 class="page-title">LinDA - {% trans "Vocabulary search" %}</h1>

		<div class="home-search centered">
			<form method="get" action="/search" class="form">

				<input type="text" name="q" placeholder='{% trans "Search Vocabularies" %}' value="{% if form.q.value %}{{form.q.value}}{% endif %}"/>
				<input type="submit" value=""/>

			</form>

            <div class="search-filters">
                <a href="#" class="button white active">Vocabularies</a>
                <a href="#" class="button white">Classes</a>
                <a href="#" class="button white">Properties</a>
            </div>

            {% if query %}
                <div class="search-results">
                    {% for vocabulary in page.object_list %}
                    <div class="vocabulary-teaser">
                        <h3><a href="{{ vocabulary.object.get_absolute_url }}">{{vocabulary.object.title}}</a></h3>
                        <a href="{{vocabulary.preferredNamespacePrefix}}"></a>
                        <span>{{vocabulary.description|slice:"150"}}...</span>
                        <a href="{{ vocabulary.object.get_absolute_url }}" class="read-more button gray">{% trans "Read more" %}</a>
                    </div>

                    {% empty %}
                        <p>{% trans "No vocabularies match this query." %}</p>
                    {% endfor %}

                </div>
            {% endif %}


        {% with current_url="/search" %}
            {% include 'util/paginator.html' %}
        {% endwith %}
		</div>
	</div>


{% endblock %}