{% extends 'base.html' %}

{% load i18n %}
{% block title %}{% trans "Vocabularies" %} | LinDA{% endblock %}

{% block content %}
    <div class="main">
		<h1 class="page-title">LinDA - {% trans "Vocabulary search" %}</h1>

		<div class="home-search centered">
			<form method="get" action="/vocabularies" class="form">

				<input type="text" name="q" placeholder='{% trans "Search Vocabularies" %}' value="{% if form.q.value %}{{form.q.value}}{% endif %}"/>
				<input type="submit" value=""/>
                {% if query %}
                    <a href="/vocabularies/all" class="button delete-button clear-search" title='Clear search'></a>
                {% endif %}
			</form>

            <div class="search-filters">
                <a href="#" class="button white active">Vocabularies</a>
                <a href="#" class="button white">Classes</a>
                <a href="#" class="button white">Properties</a>
            </div>

            {% if query %}
                <div class="search-results">
                    {% for vocabulary in page.object_list %}
                    <div class="vocabulary-teaser">
                        <h3><a href="{{ vocabulary.object.get_absolute_url }}">{{vocabulary.title}}</a></h3>
                        <p>{{vocabulary.description|slice:"150"}} {% if vocabulary.description|length > 150 %}...{% endif %}</p>
                        <a href="{{ vocabulary.object.get_absolute_url }}" class="read-more button gray">{% trans "Read more" %}</a>
                    </div>

                    {% empty %}
                        <p>{% trans "No vocabularies match this query." %}</p>
                    {% endfor %}

                </div>

                {% with current_url="/vocabularies" %}
                    {% include 'util/paginator.html' %}
                {% endwith %}
            {% else %}
                <div class="search-results">
                    {% for vocabulary in vocabularies %}
                    <div class="vocabulary-teaser">
                        <h3><a href="{{ vocabulary.get_absolute_url }}">{{vocabulary.title}}</a></h3>
                        <p>{{vocabulary.description|slice:"150"}} {% if vocabulary.description|length > 150 %}...{% endif %}</p>
                        <a href="{{ vocabulary.get_absolute_url }}" class="read-more button gray">{% trans "Read more" %}</a>
                    </div>

                    {% empty %}
                        <p>{% trans "No vocabularies in the database." %}</p>
                    {% endfor %}

                    {% with current_url="/vocabularies/all" %}
                        {% include 'util/paginator.html' %}
                    {% endwith %}
                </div>
            {% endif %}



		</div>
	</div>


{% endblock %}