{% extends 'base.html' %}

{% load i18n %}
{% load app_filters %}
{% block title %}{% trans "Vocabularies" %} | LinDA{% endblock %}

{% block content %}
    <div class="main">
		<h1 class="page-title">LinDA - {% trans "Vocabulary search" %}</h1>

		<div class="home-search">
			<form method="get" action="/vocabularies" class="form">

				<input id="vocabulary-search-text" type="text" name="q" placeholder='{% trans "Search Vocabularies" %}' value="{% if form.q.value %}{{form.q.value}}{% endif %}"/>
				<input type="submit" value=""/>
                {% if query %}
                    <a href="/vocabularies/all" class="button delete-button clear-search" title='Clear search'></a>
                {% endif %}
			</form>

            {% if query %}
                <div class="search-filters">
                    <a id="show-res-vocabularies" href="#" class="button white active">Vocabularies</a>
                    <a id="show-res-classes" href="#" class="button white">Classes</a>
                    <a id="show-res-properties" href="#" class="button white">Properties</a>
                </div>
            {% else %}
                <div class="search-filters">
                    <a href="/vocabularies/all/" class="button white {% if vocabularies %}active{% endif %}">Vocabularies</a>
                    <a href="/classes/all/" class="button white {% if classes %}active{% endif %}">Classes</a>
                    <a href="/properties/all/" class="button white {% if properties %}active{% endif %}">Properties</a>
                </div>
            {% endif %}

            {% if query %}
                <div class="search-results">
                    <div class="result-vocabularies" >
                        {% for vocabulary in page.object_list|vocabularies %}

                        <div class="vocabulary-teaser">
                            <h3><a href="{{ vocabulary.object.get_absolute_url }}">{{vocabulary.title}}</a></h3>
                            <p>{{vocabulary.description|slice:"150"}} {% if vocabulary.description|length > 150 %}...{% endif %}</p>

                            <a href="{{ vocabulary.object.get_absolute_url }}" class="button blue">{% trans "Read more" %}</a>
                             {% if vocabulary.object.example %}
                                <a href="{{ vocabulary.object.get_absolute_url }}#usage-example" class="button green">{% trans "View usage example" %}</a>
                            {% endif %}
                        </div>

                        {% empty %}
                            <p>{% trans "No vocabularies match this query." %}</p>
                        {% endfor %}
                    </div>

                    <div class="result-classes" style="display: none;">
                        {% for class in page.object_list|classes %}

                        <div class="class-teaser">
                            <h3><a href="{{ class.object.uri }}">{{class.object.label}}</a></h3>
                            <p class="uri">&lt;{{ class.object.uri }}&gt;</p>
                            <a href="{{ class.object.vocabulary.get_absolute_url }}" class="read-more button gray">{% trans "Vocabulary" %}</a>
                        </div>

                        {% empty %}
                            <p>{% trans "No classes match this query." %}</p>
                        {% endfor %}
                    </div>

                    <div class="result-properties" style="display: none;">
                        {% for property in page.object_list|properties %}

                        <div class="property-teaser">
                            <h3><a href="{{ property.object.uri }}">{{property.object.label}}</a></h3>
                            <p class="uri">&lt;{{ property.object.uri }}&gt;</p>
                            <a href="{{ property.object.vocabulary.get_absolute_url }}" class="read-more button gray">{% trans "Vocabulary" %}</a>
                        </div>

                        {% empty %}
                            <p>{% trans "No properties match this query." %}</p>
                        {% endfor %}
                    </div>

                </div>

                {% with current_url="/vocabularies" %}
                    {% include 'util/paginator.html' %}
                {% endwith %}
            {% else %}
                <div class="search-results">
                    {% if vocabularies %}

                        <div class="result-vocabularies" >
                            {% for vocabulary in vocabularies %}
                                <div class="vocabulary-teaser">
                                    <h3><a href="{{ vocabulary.get_absolute_url }}">{{vocabulary.title}}</a></h3>
                                    <p>{{vocabulary.description|slice:"150"}} {% if vocabulary.description|length > 150 %}...{% endif %}</p>

                                    <a href="{{ vocabulary.get_absolute_url }}" class="button blue">{% trans "Read more" %}</a>
                                    {% if vocabulary.example %}
                                        <a href="{{ vocabulary.get_absolute_url }}#usage-example" class="button green">{% trans "View usage example" %}</a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>

                    {% elif classes %}

                        <div class="result-classes">
                            {% for class in classes %}
                                <div class="class-teaser">
                                    <h3><a href="{{ class.object.uri }}">{{class.label}}</a></h3>
                                    <p class="uri">&lt;{{ class.uri }}&gt;</p>
                                    <a href="{{ class.vocabulary.get_absolute_url }}" class="read-more button gray">{% trans "Vocabulary" %}</a>
                                </div>
                            {% endfor %}
                        </div>

                    {% elif properties %}
                        <div class="result-properties">
                            {% for property in properties %}
                                <div class="property-teaser">
                                    <h3><a href="{{ property.uri }}">{{property.label}}</a></h3>
                                    <p class="uri">&lt;{{ property.uri }}&gt;</p>
                                    <a href="{{ property.vocabulary.get_absolute_url }}" class="read-more button gray">{% trans "Vocabulary" %}</a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% with current_url="/vocabularies/all" %}
                        {% include 'util/paginator.html' %}
                    {% endwith %}
                </div>
            {% endif %}



		</div>
	</div>


{% endblock %}

{% block scripts %}
    <script>
        $("#show-res-vocabularies").click(function() {
            $(".result-vocabularies").show(); $("#show-res-vocabularies").addClass("active");
            $(".result-classes").hide(); $("#show-res-classes").removeClass("active");
            $(".result-properties").hide(); $("#show-res-properties").removeClass("active");
        });

        $("#show-res-classes").click(function() {
            $(".result-vocabularies").hide(); $("#show-res-vocabularies").removeClass("active");
            $(".result-classes").show(); $("#show-res-classes").addClass("active");
            $(".result-properties").hide(); $("#show-res-properties").removeClass("active");
        });

        $("#show-res-properties").click(function() {
            $(".result-vocabularies").hide(); $("#show-res-vocabularies").removeClass("active");
            $(".result-classes").hide(); $("#show-res-classes").removeClass("active");
            $(".result-properties").show(); $("#show-res-properties").addClass("active");
        });
    </script>
{% endblock %}