{% extends "base.html" %}
{% load url from future %}
{% load i18n thumbnail2 %}
{% load app_filters %}
{% block title %}{{vocabulary.title}} | LinDa{% endblock %}
{% block bodyclass %}vocabulary{% endblock %}

{% block content %}
<div class="main">
    <h1 class="page-title inline">{% trans "Edit vocabulary"%}</h1>

    <form class="vocabulary-edit-form" method="post" action="{{vocabulary.get_absolute_url}}/edit/"
          class="vocabulary-edit-form" enctype="multipart/form-data">{% csrf_token %}

        <div>
            <label for="title">{% trans "Title"%}:</label>
            <input type="text" name="title" id="id_title" class="page-title" value="{{vocabulary.title}}"/>
        </div>

        <div>
            <label for="category">{% trans "Category"%}:</label>

            <div class="hidden">
                {{form.category}}
            </div>

            <div class="inline">
                <div id="category-dropdown-button" class="button green clearfix select-button sidebar-button">
                    <span class="filter-option">{{vocabulary.category}}</span>&nbsp;<span class="caret"></span>
                </div>

                <ul id="category-dropdown" class="dropdown-menu" role="menu">
                    <span class="arrow-up"></span>
                    {% for category in categories %}
                    <li>
                        <div>
                            <span class="pull-left" data-option="{{category.0}}">{{category.1}}</span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>

        <label for="description">{% trans "Vocabulary description"%}:</label>

        <p class="description">
            <textarea name="description" id="id_description" maxlength="2048">{{vocabulary.description}}</textarea>
        </p>

        <div>
            <label for="originalUrl">{% trans "Reference page"%}:</label>
            <input type="text" name="originalUrl" id="id_originalUrl" value="{{vocabulary.originalUrl}}"/>
        </div>
        <div>
            <label for="downloadUrl">{% trans "Download link"%}:</label>
            <input type="text" name="downloadUrl" id="id_originalUrl" value="{{vocabulary.downloadUrl}}"/>
        </div>

        <div class="action-buttons">
            <a href="{{vocabulary.get_absolute_url}}" class="button blue right">{% trans "Cancel" %}</a>
            <input type="submit" value='{% trans "Update vocabulary" %}' class="button red left"/>
        </div>

    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
		$(function() {
			$("#category-dropdown-button > .filter-option").html( $("#id_category option:selected").text() );
		});
		
		$("#category-dropdown-button").click(function() {
			$('#category-dropdown').toggle();
		});
			
		$("#category-dropdown > li > div").click(function() {
			$('#category-dropdown').toggle();
			$('#category-dropdown-button > .filter-option').html( $(this).children('span').text() );
			$('#id_category').val( $(this).children('span').attr("data-option") );
		});

</script>
{% endblock %}
