{% extends "base.html" %}
{% load url from future %}
{% load i18n thumbnail2 %}
{% load app_filters %}
{% block title %}{{vocabulary.title}} | LinDA{% endblock %}
{% block bodyclass %}vocabulary{% endblock %}

{% block content %}
<div class="main">
    <h1 class="page-title inline">{% trans "Edit vocabulary"%}</h1>

    <form class="vocabulary-edit-form" method="post" action="/vocabulary/{{vocabulary.id}}/edit/"
          class="vocabulary-edit-form" enctype="multipart/form-data">{% csrf_token %}

        {% if form.non_field_errors %}
            <p class="error">{{ form.non_field_errors }}</p>
        {% endif %}

        <div>
            <label for="title">{% trans "Title"%}:</label>
            {{form.title}}
            {% if form.title.errors %}
            <span class="error">{{ form.title.errors.as_text }}</span>
            {% endif %}
        </div>

        <div>
            <label for="category">{% trans "Category"%}:</label>

            {% with field=form.category id="category" options=categories %}
                {% include 'util/prettydropdown.html' %}
            {% endwith %}

        </div>

        <label for="description">{% trans "Vocabulary description"%}:</label>

        <p class="description">
            {{form.description}}
            {% if form.description.errors %}
            <span class="error">{{ form.description.errors.as_text }}</span>
            {% endif %}
        </p>

		<div>
            <label for="originalUrl">{% trans "Preferred namespace URI"%}:</label>
            {{form.preferredNamespaceUri}}
            {% if form.preferredNamespaceUri.errors %}
            <span class="error">{{ form.preferredNamespaceUri.errors.as_text }}</span>
            {% endif %}
        </div>
        <div>
            <label for="downloadUrl">{% trans "Preferred namespace prefix"%}:</label>
            {{form.preferredNamespacePrefix}}
            {% if form.preferredNamespacePrefix.errors %}
            <span class="error">{{ form.preferredNamespacePrefix.errors.as_text }}</span>
            {% endif %}
        </div>
		
        <div>
            <label for="originalUrl">{% trans "Reference page"%}:</label>
            {{form.originalUrl}}
            {% if form.originalUrl.errors %}
            <span class="error">{{ form.originalUrl.errors.as_text }}</span>
            {% endif %}
        </div>
        <div>
            <label for="downloadUrl">{% trans "Download link"%}:</label>
            {{form.downloadUrl}}
            {% if form.downloadUrl.errors %}
            <span class="error">{{ form.downloadUrl.errors.as_text }}</span>
            {% endif %}
        </div>

        <div class="action-buttons">
            <a href="/vocabulary/{{vocabulary.id}}" class="button blue right">{% trans "Cancel" %}</a>
            <input type="submit" value='{% trans "Update vocabulary" %}' class="button red left"/>
        </div>

    </form>
</div>
{% endblock %}

{% block scripts %}
    {% with field=form.category id="category" %}
        {% include 'util/prettydropdown_js.html' %}
    {% endwith %}
{% endblock %}