{% load i18n inbox %}

    <div id="menu-select-area" class="clearfix">
        <ul>
            <li>
                <select id="menu-select" title="LinDA main menu">
                    <option value="/" {%if page == "Home" %}selected="selected"{% endif %}>{% trans "Home" %}</option>
                    <option value="/datasources" {%if page == "Datasources" %}selected="selected"{% endif %}>{% trans "Data Sources" %}</option>
                    <option value="/queries/" {%if page == "Queries" %}selected="selected"{% endif %}>{% trans "Queries" %}</option>
                    <option value="/visualizations//visualizations/saved-visualizations" {%if page == "Visualizations" %}selected="selected"{% endif %}>{% trans "Visualizations" %}</option>
                    <option value="/analytics" {%if page == "Analytics" %}selected="selected"{% endif %}>{% trans "Analytics" %}</option>
                    <option value="/transformations" {%if page == "Transformations" %}selected="selected"{% endif %}>{% trans "Transformations" %}</option>
                    <option value="/vocabularies/all" {%if page == "Vocabularies" %}selected="selected"{% endif %}>{% trans "Vocabularies" %}</option>
                    <option value="/sparql" {%if page == "Sparql" %}selected="selected"{% endif %}>{% trans "SPARQL Editor"%}</option>
                </select>
            </li>

            <li class="right">
                <form class="form menu-search" method="GET" action="/find/" class="form">
                    <input type="text" name="search_q" class="site-search-input" placeholder="Search LinDA" title="Search LinDA"/>
                    <input type="submit" value="">
                </form>
            </li>
        </ul>
    </div>
