<script>
    $("body *").not("#{{id}}-dropdown-button").click(function(e){
        if ($(e.target).parents("#{{id}}-dropdown-button").length === 0) {
            $("#{{id}}-dropdown").hide();
            //e.stopPropagation();
        }
    });

    {% if not teaser %}
        $(function () {
            //$("{{id}}-dropdown").css('left', $("#{{id}}-dropdown-button").offset().left);
            var text = $("#id_{{id}} option:selected").text();
            if (text !== "") {
                $("#{{id}}-dropdown-button > .filter-option").html(text);
            }
        });
    {% endif %}

    $( window ).resize(function() {
        $("#{{id}}-dropdown").css('left', $("#{{id}}-dropdown-button").offset().left);
    });

    $("#{{id}}-dropdown-button").click(function(){
        $('#{{id}}-dropdown').toggle();
    });

    $("#{{id}}-dropdown > li > div").click( function() {
        $('#{{id}}-dropdown').toggle();
        $('#{{id}}-dropdown-button > .filter-option').html($(this).children('span').text());
        $('#id_{{id}}').val($(this).children('span').attr("data-option")).trigger('change');;
    });
</script>