    <div class="designer-menu">
        <div class="designer-button run-button" title="Run the query (F9)">
            <span class="glyphicon glyphicon-play text-green"></span><span class="text">Run</span>
        </div>
        <div class="designer-button" onclick='{% if mode == "designer" %}save_design(){% else %}save_query(){% endif %}' title="Save the query (Ctrl+S)">
            <span class="glyphicon glyphicon-floppy-disk text-orange"></span><span class="text">Save</span>
        </div>
        <div class="designer-button" onclick="show_sparql_download_modal()" title="Download the results">
            <span class="glyphicon glyphicon-save text-gray"></span><span class="text">Download</span>
        </div>
        <div class="right">
            {% if mode == "designer" %}
                <span class="query-title">{% if query %}#{{query.pk}}: {{query.description}}{% endif %}</span>

                <div class="designer-button text-gray" id="show-source" title="View source">
                    &lt;/&gt;
                </div>

                <div class="designer-button" id="show-query-options" title="Advanced options of the query">
                    <span class="glyphicon glyphicon-cog text-gray"></span><span class="text">Query options</span>
                </div>
            {% endif %}
        </div>
    </div>