div.analytics-description-hidden{
  background: none repeat scroll 0% 0% #DADFE1;
  overflow:auto;
  max-height:500px;
  width:700px;
  display:none;
  padding:20px;
}

div.analytics-description-visible{
  background: none repeat scroll 0% 0% #DADFE1;
  overflow:auto;
  max-height:300px;
  width:600px;
  padding:20px;
}
div.analytics-description-visible-right{
  background: none repeat scroll 0% 0% #DADFE1;
  overflow:auto;
  width:200px;
}