{% extends "base.html" %}
{% block title %}LinDa | Get started{% endblock %}

{%block css %}
    <link rel="stylesheet" href="/static/css/gettingstarted.css" />
    <link rel="stylesheet" href="/static/query-builder/stylesheets/bootstrap.min.css" />
{% endblock %}

{% block content %}

<div class="main">
   <div id="gettingstartted">
      <div id="what-is-linda" class="what-is-linda-bg">
         <div class="container">
            <div class="row">
               <div class="col-md-8">
                  <h1>What is LinDA? </h1>
                  <div class="whatislinda_inner_text">
                     <p> LinDA is a complete open-source package of Enterprise Linked Data tools to quickly map and publish your data in the Linked Data Format, 
                        interlink them with other public or private data, analyze them and create visualizations.
                     </p>
                     <p> Consists of the <a href = "http://linda-project.eu/wiki/index.php?title=Transformation_Engine_-_RDF_Conversion_Tool"> LinDA Transformation engine</a>, a lightweight 
                        transformation to linked data tool, the <a href="http://linda-project.eu/wiki/index.php?title=Vocabulary_and_Repository_Metadata"> LinDA Vocabulary repository </a> for increasing the semantic interoperability for your data, the <a href="http://linda-project.eu/wiki/index.php?title=LinDA_Publication_and_Consumption_Framework"> LinDA RDF2Any </a>, a 
                        tool for converting RDF to conventional data structures in order to be used by legacy applications, the <a href="http://linda-project.eu/wiki/index.php?title=LinDA_Publication_and_Consumption_Framework"> LinDA Query Builder</a> and <a href="http://linda-project.eu/wiki/index.php?title=Query_Designer_and_SPARQL_Editor">Query designer </a> to 
                        easily navigate and query your data, the <a href="http://linda-project.eu/wiki/index.php?title=LinDA_Visualization_and_Exploration"> LinDA visualization</a> to perform smart visualizations on linked data out-of-the box and the <a href="http://linda-project.eu/wiki/index.php?title=LinDA_Analytics_and_Data_Mining"> LinDA Analytics </a>
                        package for running analytic processes against your data. LinDA enables enterprises to lower the learning curve of semantic technologies and harvest 
                        the potential of Linked Data in an intuitive and cost-effective manner.
                     </p>
                  </div>
                  <!--end of whatislinda inner text -->
               </div>
               <!--end of col-md-8 -->
               <div class="col-md-3">
                  <div class="image-block">
                     <div id="linda-concept-image"></div>
                  </div>
                  <!--end of video-block-->
               </div>
               <!--end of col-md-3 -->
            </div>
            <!--end of row -->
         </div>
         <!--end of container -->
      </div>
      <!--end of what-is-linda -->
      <div id="why-enterprises">
         <div class="container">
            <div class="row">
               <div class="col-md-3">
                  <div class="image-block">
                     <div id="linda-enterprise-image"></div>
                  </div>
                  <!--end of video-block-->
               </div>
               <!--end of col-md-3 -->
               <div class="col-md-8">
                  <h1>Why do Enterprises like it?</h1>
                  <div class="whatislinda_inner_text">
                     <p> With LinDA, enterprise users and developers not familiar with Linked Data can easily setup their data sources to the RDF format as well as connect to any available public linked data mart. Thereafter making queries, visualizations and analytics on these data is just a click away with built-in, open-source and free visualization and analytics engine. And with LinDA, enterprises can automate their data management pipeline and share artifacts with collaborators all around the world through public or private data sources. LinDA specifically targets SMEs that usually do not afford built-in data warehouses, in order to easily setup business intelligence systems internally through the use of Linked Data and gain significant competitive advantage. 
                     </p>
                     <p> <strong> LinDA helps enterprises, create and consume high-quality linked data, faster. </strong>
                     </p>
                  </div>
                  <!--end of whatislinda inner text -->
               </div>
               <!--end of col-md-8 -->
            </div>
            <!--end of row -->
         </div>
         <!--end of container -->
      </div>
      <!--end of why-enterprises -->
      <div id="simplesteps"  class="what-is-linda-bg">
         <div class="container">
            <div class="row">
               <div class="col-md-8">
                  <h1>LinDA in 3 simple Steps</h1>
                  <div class="whatislinda_inner_text">
                     <p>
                     <h3><strong>STEP 1</strong></h3>
                     </p>
                     <p><strong>Turn Data into RDF</strong></p>
                     <p> Using LinDA Transformation engine, users can publish their data as linked data in a few, simple steps. Simply connect to your database, select the data table you want and make your mappings to popular and standardized vocabularies. LinDA assists even more by providing automatic suggestions to the mapping through its Suggest API (Oracle). 
                        <a class="btn btn-info" href="http://linda-project.eu/wiki/index.php?title=Transformation_Engine_-_RDF_Conversion_Tool" role="button">Learn More </a>
                     </p>
                     <p> </p>
                     <p>
                     <h3><strong>STEP 2</strong></h3>
                     </p>
                     <p><strong>Query / Link your Data </strong></p>
                     <p>With the LinDA Query builder and Query designer, users can perform simple or complex queries through an intuitive graphical environment that eliminates the need for SPARQL syntax. The Query Designer follows the paradigm of SQL Query designers of popular relational database management systems but seamlessly adjusted to harness the potential of Linked data. With simple drag n drop functionality users can perform complex SPARQL queries and filtering including interlinking with external SPARQL endpoints through the use of SPARQL 1.1 Federated Query. For more advanced users, LinDA SPARQL editor provides functionality of a text-based query wizard over linked data. It provides code style formatting and intelligent code auto-completion.
                        <a class="btn btn-info" href="http://linda-project.eu/wiki/index.php?title=LinDA_Publication_and_Consumption_Framework" role="button">Learn More </a>
                     </p>
                     <p>
                     <h3><strong>STEP 3</strong></h3>
                     </p>
                     <p><strong>Visualize / Analyze your Data </strong></p>
                     <p> LinDA Visualization and Analytic engines can help enterprise users gain insight from the data that the company generates. The added-value of LinDA visualizations and analytics in comparison with traditional tools is that it takes advantage of the enriched metadata contained within the Linked Data format to produce more meaningful visualizations. On top of that, users can gracefully link their data with any other private or public data therefore realizing an ecosystem of data extractions and visualizations, which can be bound together in a dynamic and unforeseen way.
                        <a class="btn btn-info" href="http://linda-project.eu/wiki/index.php?title=LinDA_Visualization_and_Exploration" role="button">Learn More </a>
                     </p>
                  </div>
                  <!--end of whatislinda inner text -->
               </div>
               <!--end of col-md-8 -->
               <div class="col-md-3">
                  <div class="image-block">
                     <div id="linda-steps-image"></div>
                  </div>
                  <!--end of video-block-->
               </div>
               <!--end of col-md-3 -->
            </div>
            <!--end of row -->
         </div>
         <!--end of container -->
      </div>
      <!--end of simplesteps -->
   </div>
   <!--end of getting started -->
</div>
<!--end of main -->

{% endblock %}
{% block scripts %}
    <script src="/static/query-builder/javascripts/bootstrap.min.js"></script>
{% endblock %}
