{% extends "base.html" %}

{% load i18n %}
{% block title %}LinDA{% endblock %}
{% block bodyclass %}homepage{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/jquery.contextMenu.css"/>
    {% if installation_pending %}
        <link rel="stylesheet" href="/static/installer/style.css"/>
    {% endif %}
{% endblock %}

{% block content %}
	<div class="main">

        {% if installation_pending %}
            {% include "installer/installer.html" %}
        {% endif %}

        <div class="welcome">
            <!--img class="welcome-video" src="/static/images/video-placeholder.jpg" /-->
            <iframe width="350" height="250" src="//www.youtube.com/embed/b988bbpmR00" frameborder="0" allowfullscreen></iframe>
            <div class="welcome-message clearfix">
                <h2>Welcome to LinDA Workbench</h2>
                <p>{% trans "With LinDa toolset you can easily transform your data into RDF format and enjoy the massive power of Linked Data."%}<br />{% trans "Welcome to the future of interconnected information."%}</p>

                <div class="welcome-step">
                    <strong>{%trans "STEP 1"%}</strong>
                    <img class="right" src="/static/images/photo.png" alt="Turn data into RDF"/>
                    <br/>
                    <span><a style="color:#666" href="http://linda-project.eu/wiki/index.php?title=Transformation_Engine_-_RDF_Conversion_Tool">{%trans "Turn Data into RDF"%}</a></span>
                </div>

                <div class="welcome-step">
                    <strong>{%trans "STEP 2"%}</strong>
                    <img class="right" src="/static/images/dir.png" alt="Link you data"/>
                    <br/>
                    <span><a style="color:#666" href="http://linda-project.eu/wiki/index.php?title=LinDA_Publication_and_Consumption_Framework">{%trans "Query / Link your Data"%}</a></span>
                </div>

                <div class="welcome-step">
                    <strong>{%trans "STEP 3"%}</strong>
                    <img class="right" src="/static/images/people.png" alt="Visualize and analyze your data"/>
                    <br/>
                    <span><a style="color:#666" href="http://linda-project.eu/wiki/index.php?title=LinDA_Visualization_and_Exploration">{%trans "Visualize / Analyze your Data"%}</a></span>
                </div>

                <a href="/get-started" class="button orange right">{% trans "Get started"%}</a>
            </div>
        </div>

        <div class="recent-box">
            <h2 class="recent-box-title">{%trans "Recent Data Sources"%}</h2>
            <div class="recent-list">
                {% with datasources=recent_datasources out="html" %}
                    {% include "datasource/pretty-list.html" %}
                {% endwith %}
            </div>
        </div>

        <div class="recent-box">
            <h2 class="recent-box-title">{%trans "Recent Queries"%}</h2>
            <div class="recent-list">
                {% with queries=recent_queries out="html" %}
                    {% include "queries/pretty-list.html" %}
                {% endwith %}
            </div>
        </div>

        <div class="recent-box">
            <h2 class="recent-box-title">{%trans "Recent Analytics"%}</h2>
            <div class="recent-list">
                {% with analytics=recent_analytics out="html" %}
                    {% include "analytics/pretty-list.html" %}
                {% endwith %}
            </div>
        </div>
	</div>

{% endblock %}

{% block scripts %}
    <script src="/static/js/jquery.contextMenu.js"></script>
    <script src="/static/js/jquery.waitforimages.js"></script>
    <script>
        {% with datasources=recent_datasources out="js" %}
            {% include "datasource/pretty-list.html" %}
        {% endwith %}
    </script>

    <script>
        {% with queries=recent_queries out="js" %}
            {% include "queries/pretty-list.html" %}
        {% endwith %}
    </script>


    {% if installation_pending %}
        <script>
            var csrf_token = '{{csrf_token}}';
        </script>
        <script src="/static/installer/scripts.js"></script>
    {% endif %}
{% endblock %}
