{% extends "base.html" %}
{% block title %}SparQL Endpoint | LinDa{% endblock %}
{% block bodyclass %}sparql{% endblock %}
{% load app_filters %}
{% load i18n %}

{%block css %}
    <link rel="stylesheet" src="/static/css/query-builder.css" />
    <link rel="stylesheet" src="/static/css/bootstrap.min.css" />

    <link data-turbolinks-track="true" href="/static/css/chosen.min.css" media="all" rel="stylesheet" />

    <link data-turbolinks-track="true" href="/static/query-builder/stylesheets/_variables.css?body=1" media="all" rel="stylesheet" />
    <link data-turbolinks-track="true" href="/static/query-builder/stylesheets/bootstrap.css?body=1" media="all" rel="stylesheet" />
    <link data-turbolinks-track="true" href="/static/query-builder/stylesheets/bootstrap.min.css?body=1" media="all" rel="stylesheet" />
    <link data-turbolinks-track="true" href="/static/query-builder/stylesheets/common.css?body=1" media="all" rel="stylesheet" />
    <link data-turbolinks-track="true" href="/static/query-builder/stylesheets/developer.css?body=1" media="all" rel="stylesheet" />
    <link data-turbolinks-track="true" href="/static/query-builder/stylesheets/query.css?body=1" media="all" rel="stylesheet" />
    <link data-turbolinks-track="true" href="/static/query-builder/stylesheets/application.css?body=1" media="all" rel="stylesheet" />
    <link data-turbolinks-track="true" href="/static/query-builder/stylesheets/gritter.css?body=1" media="all" rel="stylesheet" />
{% endblock %}


{% block content %}
<div class="main sparql">
    <h1 class="page-title">SparQL Editor{% if query %} - Edit Query #{{query.id}}{% endif %}</h1>

    <div>
        <select id="datasource-select">
            <option value="">Choose a data source</option>
            {% for datasource in datasources %}
                <option value="{{datasource.name}}">{{datasource.title}}</option>
            {% endfor %}
        </select>
        <!--<div class="dropdown clear-dataset">
            <button class="btn btn-default dropdown-toggle clear-dataset col-md-12" type="button" id="dd_select_dataset"
                    data-toggle="dropdown">
                Choose a Data Source&nbsp;
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu col-md-12" role="menu" aria-labelledby="dd_select_dataset">
                {% for datasource in datasources %}
                    <li role="presentation"><a role="menuitem" tabindex="-1"
                                           onclick="select_dataset('{{datasource.name}}', '{{datasource | get_endpoint}}');">{{datasource.title}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>-->
        {% with hidden_value_id="hdn_qb_dataset" div_classes="done-dataset" div_id="div_select_dataset" remove_function="QueryBuilder.datasets.reset()" hidden_value_value="" %}
            {% include 'query-builder/selector.html' %}
        {% endwith %}
    </div>

    <div class="main-container panel panel-default">
        <div class="panel-body">

            <div class="row">

                <div class="col-md-12">
                    {% with query=query %}
                        {% include 'query-builder/sparql-query-editor.html' %}
                    {% endwith %}
                </div>
            </div>

            {% include 'query-builder/search-results.html' %}

            {% include 'query-builder/alert.html' %}
            <input type="hidden" id="hdn_qb_dataset" value="">
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {% include "builder_advanced/ace-editor.html" %}

    <script>
        rdf2any_server = "{{RDF2ANY_SERVER}}";
	</script>

    <script data-turbolinks-track="true" src="/static/query-builder/javascripts/jquery_ujs.js?body=1"></script>
    <script data-turbolinks-track="true" src="/static/query-builder/javascripts/turbolinks.js?body=1"></script>
    <script data-turbolinks-track="true" src="/static/query-builder/javascripts/bootstrap.js?body=1"></script>
    <script data-turbolinks-track="true" src="/static/query-builder/javascripts/bootstrap.min.js?body=1"></script>
    <script data-turbolinks-track="true" src="/static/query-builder/javascripts/developer.js?body=1"></script>
    <script data-turbolinks-track="true" src="/static/query-builder/javascripts/query.js?body=1"></script>
    <script data-turbolinks-track="true" src="/static/query-builder/javascripts/resources/common.js?body=1"></script>
    <script data-turbolinks-track="true" src="/static/query-builder/javascripts/resources/querybuilder.js?body=1"></script>
    <script data-turbolinks-track="true" src="/static/query-builder/javascripts/resources/sparql.js?body=1"></script>
    <script data-turbolinks-track="true" src="/static/query-builder/javascripts/resources/utilities.js?body=1"></script>
    <script data-turbolinks-track="true" src="/static/query-builder/javascripts/codemirror.js?body=1"></script>
    <script data-turbolinks-track="true" src="/static/query-builder/javascripts/gritter.js?body=1"></script>
    <script data-turbolinks-track="true" src="/static/query-builder/javascripts/application.js?body=1"></script>

    <script src="/static/js/chosen.jquery.min.js"></script>
    <script>
        var datasource_endpoints = [];
        {% for datasource in datasources %}
            datasource_endpoints['{{datasource.name}}'] = '{{datasource|get_endpoint}}';
        {% endfor %}

        $("#datasource-select").chosen();
        $("#datasource-select").on('change', function() {
            var dt = $(this).val();

            if (dt) {
                select_dataset(dt, datasource_endpoints[dt]);
            }
        });
    </script>

    <script>
        jQuery(function () {
            jQuery('.dropdown-toggle').dropdown();
        });
        jQuery("#txt_search_classes").bind('input',function(){QueryBuilder.search_classes_change();});

        function select_dataset(dtn, endp) {
            dt_name = dtn;
            endpoint_uri = endp;
            $('#dd_select_dataset').html(dt_name);
            $('#hdn_qb_dataset').val(endpoint_uri);
        }

            function save_query() {
                $.ajax({
                    {% if query %}
                        url: "/query-builder/save/{{query.id}}/",
                    {% else %}
                        url: "/query-builder/save/",
                    {% endif %}
                    type: "POST",
                    data: {
                        endpoint: endpoint_uri,
                        endpointName: dt_name,
                        query: editor.getSession().getValue(),
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(data, textStatus, jqXHR)
                    {
                        $("#alert_modal .modal-title").html('LinDA Queries');
                        $("#alert_modal .modal-body").html('Query saved');
                        $("#alert_modal").show();
                    },
                    error: function (jqXHR, textStatus, errorThrown)
                    {
                        alert(textStatus + ': ' + errorThrown);
                    }
                });
            }

    </script>

    {% if query %}
        <script>
            /*Select the predefined datasource if it's specified*/
            dt_name = '{{query.endpoint}}';
            {% for datasource in datasources %}
                {% if datasource|get_endpoint == query.endpoint %}
                    dt_name = '{{datasource.name}}';
                {% endif %}
            {% endfor %}
            select_dataset(dt_name, '{{query.endpoint}}');

            // change value in the chosen plugn
            $("#datasource-select").val(dt_name);
            $('#datasource-select').trigger("chosen:updated");
        </script>
    {% endif %}

{% endblock %}
