{% load app_filters %}

function downloadWithName(uri, name) {
    var link = document.createElement("a");
    link.download = name;
    link.href = uri;
    document.getElementById("main-container").appendChild(link);
    link.click();
    link.parentNode.removeChild(link);
}

var datasource_visualize_URIs = [];
var datasource_is_public = [];

{% for datasource in datasources %}
    {% if not datasource.is_public %}
        datasource_visualize_URIs["{{datasource.name}}"] = "{{datasource|datasource_visualize}}";
        datasource_is_public["{{datasource.name}}"] = {% if datasource.is_public %}true{% else %}false{% endif %};
    {% endif %}
{% endfor %}

$(function(){ //private datasource context menu

    $.contextMenu({
        selector: '.datasource.private',
        callback: function(key, options) {
        var id = options.$trigger.attr('id');
        var url;

        if (key == "Visualize") {
            url = datasource_visualize_URIs[id]; console.log(url)}
        else
        if (key == "Explore")
            url = "/query-designer?dt_id=" + id;
        else
        if (key == "Edit")
            url = "/datasource/" + id + "/replace/";
        else
        if (key == "Rename") {
            var dt_title = $('#' + id + ' .dt-title span').text();
            $('#' + id + ' .dt-title').html('<textarea class="rename enabled" data-id="' + id  +'">' + dt_title + '</textarea>');
            var t = $('#' + id + ' .dt-title').find('textarea');
            $(t).focus();
        }
        else
        if (key == "Delete")
            url = "/datasource/" + id + "/delete/";
        else
        if (key == "Download") {
            url = "/datasource/" + id + "/download/";
            downloadWithName(url, id + ".rdf");
            return
        }

$(this).addClass("show-context-menu");
if (url)
    window.location = url;
        },
        items: {
            "Visualize": {name: "Visualize", icon: "visualize"},
            "Explore": {name: "Explore", icon: "explore"},
            "sep1": "---------",
            "Edit": {name: "Edit", icon: "edit"},
            {% if option_rename %}
                "Rename": {name: "Rename", icon: "pencil"},
            {% endif %}
            "Delete": {name: "Delete", icon: "delete"},
            "sep2": "---------",
            "Download": {name: "Download", icon: "download"},
        }
    });

    $.contextMenu({ //public datasource context menu
        selector: '.datasource.public',
        callback: function(key, options) {
            var id = options.$trigger.attr('id');
            var url;

            if (key == "Explore")
                url = "/query-designer?dt_id=" + id;
            else
            if (key == "Edit")
                url = "/datasource/" + id + "/replace/";
            if (key == "Rename") {
                var dt_title = $('#' + id + ' .dt-title span').text();
                $('#' + id + ' .dt-title').html('<textarea class="rename enabled" data-id="' + id  +'">' + dt_title + '</textarea>');
                var t = $('#' + id + ' .dt-title').find('textarea');
                $(t).focus();
            }
            else
            if (key == "Delete")
                url = "/datasource/" + id + "/delete/";

            $(this).addClass("show-context-menu");
            if (url)
                window.location = url;
            },
        items: {
            "Explore": {name: "Explore", icon: "explore"},
            "sep1": "---------",
            "Edit": {name: "Edit", icon: "edit"},
            {% if option_rename %}
                "Rename": {name: "Rename", icon: "pencil"},
            {% endif %}
            "Delete": {name: "Delete", icon: "delete"},

        }
    });
});