{% extends "base.html" %}
{% load url from future %}
{% load i18n thumbnail2 %}
{% load app_filters %}
{% block title %}{% trans "Create datasource"%} | LinDA{% endblock %}
{% block bodyclass %}datasource-create{% endblock %}

{% block content %}
<div class="main">
    <h1 class="page-title inline">{% trans "RDF private datasource"%}</h1>

    <form class="form rdf-form datasource-create-form" method="post" action="." enctype="multipart/form-data">{% csrf_token %}
        {% if form_error %}
            <p class="error">{{form_error}}</p>
        {% endif %}

        <div>
            <label for="title">{% trans "Title"%}:</label>
            <input type="text" name="title" id="id_title" value="{{title}}"/>
        </div>

        <div>
            <label for="rdffile">{% trans "Upload an RDF"%}:</label>
            <div id="file-uploader" class="button green">{% trans "Choose file"%}</div>
            <input id="id_file" type="file" class="hidden" name="rdffile" />
            <select id="format" name="format">
                <option value="application/rdf+xml">RDF/XML</option>
                <option value="text/rdf+n3">N3</option>
                <option value="text/plain">N-Tripples</option>
                <option value="application/x-turtle">Turtle</option>
                <option value="application/trix">TriX</option>
                <option value="application/x-trig">TriG</option>
                <option value="application/x-binary-rdf">SesameBinary RDF</option>
            </select>
        </div>

        <div>
            <label for="rdfdata">{% trans "or manually insert RDF data"%}:</label>
            <textarea name="rdfdata">{{rdfdata}}</textarea>
        </div>

        <div class="submit-box">
            <label for="datatype"></label>
            <input type="submit" class="button blue create-datasource-submit" value='{% trans "Create datasource"%}'/>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
        <script>

        $('#id_file').change(function(){
            $('#file-uploader').html($(this).val().split('\\').pop());
        })

        $('#file-uploader').click(function(){
            $('#id_file').click();
        }).show();
        </script>
{% endblock %}