{% extends "base.html" %}
{% load url from future %}
{% load i18n %}
{% block title %}{% trans "Data Sources"%} | LinDA{% endblock %}
{% block bodyclass %}datasource-create{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/jquery.datatables.min.css"/>
    <link rel="stylesheet" href="/static/css/jquery.contextMenu.css"/>
{% endblock %}

{% block content %}
    <div class="main">
        <div class="datasource-index-title">
            <h2>{% trans "Data Sources" %}</h2>
            <a class="button green" href="/datasource/create">+ {%trans "Create New"%}</a>
        </div>

        {% if datasources %}
            {% with datasources=datasources out="html" %}
                {% include "datasource/table.html" %}
            {% endwith %}
        {% else %}
            <p>{% trans "No datasource found."%}</p>
        {% endif %}
    </div>

{% endblock %}

{% block scripts %}
    <script src="/static/js/jquery.contextMenu.js"></script>
    <script src="/static/js/jquery.datatables.min.js"></script>

    {% if datasources %}
        {% with datasources=datasources out="js" paginate_by=10 %}
            {% include "datasource/table.html" %}
        {% endwith %}
    {% endif %}
{% endblock %}
