
<input type="hidden" id="{{hidden_value_id}}" value="{{hidden_value_value}}">
<div id="{{div_id}}" style="display:none" class="{{div_classes}} alert alert-warning">
    <div class="row">
        <div class="col-md-10 select-body" >

        </div>
        <div class="col-md-2 select-right-actions">
            {% if plus_function %}
                <span class='glyphicon glyphicon-plus clickable ' onclick="{{plus_function}}"></span>
            {% endif %}
            <span class="glyphicon glyphicon-remove clickable pull-right" onclick="{{remove_function}}"></span>
        </div>
    </div>
</div>
