<div class="panel panel-default editor-container">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-6">
				<h4 class="">{%if mode == "sparql"%}SPARQL Query editor{%else%}Equivalent SPARQL Query{%endif%}</h4>
			</div>
			{% if mode == "builder" %}
				<div class="col-md-6">
					<input type="hidden" id="hdn_show_checked_properties" value="no">
					&nbsp;&nbsp;&nbsp;
					<span class="btn-group pull-right">
						<button class="btn " id="btn_show_checked_properties_yes" onclick="QueryBuilder.equivalent_query.handle_checked_properties('yes')">Yes</button>
						<button class="btn btn-success" id="btn_show_checked_properties_no" onclick="QueryBuilder.equivalent_query.handle_checked_properties('no')">No</button>
					</span>
					&nbsp;&nbsp;&nbsp;
					<span class="pull-right">
						Show checked properties in equivalen query and preview ? &nbsp;&nbsp;&nbsp;
					</span>&nbsp;&nbsp;&nbsp;
				</div>
			{% elif designer %}
				<div class="col-md-6" id="builder_pattern">
					<label>Query pattern</label>
					<input placeholder="(e.g A+B)"/>
				</div>
			{% endif %}

		</div>
	</div>
	<div class="panel-body" >
	    <div class="row " >
	        <div class="col-md-12">
	            <!--<textarea rows="12" id="txt_sparql_query" style="width:100%;" placeholder="Type your SPARQL query here ..." class="form-control">{% if query %}{{query.sparql}}{% endif %}</textarea>-->
				<div id="txt_sparql_query">{% if query %}{{query.sparql}}{% endif %}</div>
	        </div>
	    </div>
	</div>
	<div class="panel-footer">
		<div class="row">
			<div id="sparql-editor-warning-message" class="ui-widget">
				<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">

				</div>
			</div>
		</div>
	    <div class="row">
	        <div class="col-md-3" style="min-width: 400px;">
	        	<div class="btn-group">
		            <button  type="button" class="btn btn-lg btn-success" onclick="execute_sparql_query()">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-play"></span>&nbsp;&nbsp;&nbsp;&nbsp;</button>
					{% if query %}
						<button  type="button" class="btn btn-lg btn-warning" onclick="window.open('{{query.analytics_link}}');">Analyze</button>
						<button  type="button" class="btn btn-lg btn-info" onclick="window.open('{{query.visualization_link}}');">Visualize</button>
					{% endif %}
		            <!--<button  type="button" class="btn btn-lg btn-warning" onclick="show_sparql_download_modal()">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-floppy-save"></span>&nbsp;&nbsp;&nbsp;&nbsp;</button>-->
	        	</div>
	        </div>
				<div class="col-md-6 pull right">
                      <div class="btn-group pull-right">
                        <button type="button" class="btn btn-warning" onclick="{% if in_designer %}save_design(){% else %}save_query(){% endif %}"><span class="glyphicon glyphicon-floppy-save"></span>&nbsp;Save query</button>
                        <button type="button" class="btn btn-danger" onclick="show_sparql_download_modal()"><span class="glyphicon glyphicon-save"></span>&nbsp;Download</button>
                        <button type="button" class="btn btn-warning" onclick="SPARQL.result.print()"><span class="glyphicon glyphicon-print"></span>&nbsp;Print</button>
                      </div>
				</div>
	        {% if mode == "builder" %}
		        <div class="col-md-3">
		        	<div class="form-group">
					    <label for="txt_sparql_query_limit" class="col-sm-2 control-label" style="margin-top:5px;">Limit</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" id="txt_sparql_query_limit" placeholder="Limit" value="200">
					    </div>
					</div>
		        </div>
	        {% endif %}

	    </div>
	</div>
</div>

<div class="hide">
	<textarea rows="5" id="txt_sample_query_1" >select distinct ?Concept where {[] a ?Concept} LIMIT 100</textarea>
</div>

