<div class="modal fade " id="uri_viewer_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true">
  <div class="modal-dialog " style="width:800px;">
    <div class="modal-content" >
      <div class="modal-header" >
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" >URI Viewer</h4>
      </div>
      <div class="modal-body" >
        <div class="row">
          <div class="col-md-12 ">
            <a class="btn btn-primary" id="a_uri_viewer_new_tab" type="button" target="_blank" style="margin-bottom:20px;">Open URI in a new tab</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <iframe id="iframe_uri_viewer" style="width:100%;height:500px;"></iframe>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>