{% extends 'base.html' %}

{% load i18n %}
{% load app_filters %}
{% block title %}{% trans "Vocabularies" %} | LinDA{% endblock %}

{% block content %}
    <div class="main">
		<h1 class="page-title">LinDA - {% trans "Vocabulary search" %}</h1>

		<div class="home-search">
			<form method="get" action="/vocabularies" class="form vocabulary-search-form">
                <input style="display:none;" type="text" name="type" value="{{type}}"/>
                <input id="vocabulary-search-text" type="text" name="q" required="required" placeholder='{% trans "Search Vocabularies" %}' value="{% if q %}{{q}}{% endif %}"/>
                <input type="submit" value=""/>
                {% if query %}
                    <a href="/{{type}}/all" class="button delete-button clear-search" title='Clear search'></a>
                {% endif %}

                <div id="localize" class="right">
                    <label id="localization-label">Localization {% if translate %}ON{% else %}OFF{% endif %}</label>
                    <a href="#" alt='{% trans "By enabling localization, you can search in your local language and let LinDA translate terms in English!"%}'><img id="translate-icon" class="icon-translate {% if translate %}enabled{% endif %}" src="/static/images/localize.png" /></a>
                    <input id="id_translate" type="checkbox" name="translate" {% if translate %}checked="checked"{% endif %}/>
                </div>
			</form>

            {% if user.is_superuser and check_for_updates %}
                {% include "vocabulary/run-updates.html" %}
            {% endif %}

            {% if query %}
                <div class="search-filters">
                    <a href="/vocabularies/?q={{q}}&type=vocabularies" class='button white {% if type == "vocabularies" %}active{% endif %}'>Vocabularies</a>
                    <a href="/vocabularies/?q={{q}}&type=classes" class='button white {% if type == "classes" %}active{% endif %}'>Classes</a>
                    <a href="/vocabularies/?q={{q}}&type=properties" class='button white {% if type == "properties" %}active{% endif %}'>Properties</a>
                </div>
            {% else %}
                <div class="search-filters">
                    <a href="/vocabularies/all/" class="button white {% if vocabularies %}active{% endif %}">Vocabularies</a>
                    <a href="/classes/all/" class="button white {% if classes %}active{% endif %}">Classes</a>
                    <a href="/properties/all/" class="button white {% if properties %}active{% endif %}">Properties</a>
                </div>
            {% endif %}

            {% if query %}
                <div class="search-results">
                    <div class="result-vocabularies" {% if not type == "vocabularies" %}style="display: none;"{% endif %}>
                        {% for vocabulary in page_obj.object_list %}

                        <div class="vocabulary-teaser">
                            <h3><a href="{{ vocabulary.object.get_absolute_url }}">{{vocabulary.title}}</a></h3>
                            <p>{{vocabulary.description|slice:"150"}} {% if vocabulary.description|length > 150 %}...{% endif %}</p>

                            <a href="{{ vocabulary.object.get_absolute_url }}" class="button blue">{% trans "Read more" %}</a>
                             {% if vocabulary.object.example %}
                                <a href="{{ vocabulary.object.get_absolute_url }}#usage-example" class="button green">{% trans "View usage example" %}</a>
                            {% endif %}
                        </div>

                        {% empty %}
                            <p>{% trans "No vocabularies match this query." %}</p>
                        {% endfor %}
                    </div>

                    <div class="result-classes" {% if not type == "classes" %}style="display: none;"{% endif %}>
                        {% for class in page_obj.object_list %}

                        <div class="class-teaser">
                            <h3><a href="{{ class.object.uri }}">{{class.object.label}}</a></h3>
                            <p class="uri">&lt;{{ class.object.uri }}&gt;</p>
                            <a href="{{ class.object.vocabulary.get_absolute_url }}" class="button blue">{% trans "Vocabulary" %}</a>
                        </div>

                        {% empty %}
                            <p>{% trans "No classes match this query." %}</p>
                        {% endfor %}
                    </div>

                    <div class="result-properties" {% if not type == "properties" %}style="display: none;"{% endif %}>
                        {% for property in page_obj.object_list %}

                        <div class="property-teaser">
                            <h3><a href="{{ property.object.uri }}">{{property.object.label}}</a></h3>
                            <p class="uri">&lt;{{ property.object.uri }}&gt;</p>
                            <a href="{{ property.object.vocabulary.get_absolute_url }}" class="button blue">{% trans "Vocabulary" %}</a>
                        </div>

                        {% empty %}
                            <p>{% trans "No properties match this query." %}</p>
                        {% endfor %}
                    </div>

                    {% with current_url=url has_get_variables=True %}
                        {% include 'util/paginator.html' %}
                    {% endwith %}

                </div>

            {% else %}
                <div class="search-results">
                    {% if vocabularies %}

                        <div class="result-vocabularies" >
                            {% for vocabulary in vocabularies %}
                                <div class="vocabulary-teaser">
                                    <h3><a href="{{ vocabulary.get_absolute_url }}">{{vocabulary.title}}</a></h3>
                                    <p>{{vocabulary.description|slice:"150"}} {% if vocabulary.description|length > 150 %}...{% endif %}</p>

                                    <a href="{{ vocabulary.get_absolute_url }}" class="button blue">{% trans "Read more" %}</a>
                                    {% if vocabulary.example %}
                                        <a href="{{ vocabulary.get_absolute_url }}#usage-example" class="button green">{% trans "View usage example" %}</a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>

                    {% elif classes %}

                        <div class="result-classes">
                            {% for class in classes %}
                                <div class="class-teaser">
                                    <h3><a href="{{ class.object.uri }}">{{class.label}}</a></h3>
                                    <p class="uri">&lt;{{ class.uri }}&gt;</p>
                                    <a href="{{ class.vocabulary.get_absolute_url }}" class="button blue">{% trans "Vocabulary" %}</a>
                                </div>
                            {% endfor %}
                        </div>

                    {% elif properties %}
                        <div class="result-properties">
                            {% for property in properties %}
                                <div class="property-teaser">
                                    <h3><a href="{{ property.uri }}">{{property.label}}</a></h3>
                                    <p class="uri">&lt;{{ property.uri }}&gt;</p>
                                    <a href="{{ property.vocabulary.get_absolute_url }}" class="button blue">{% trans "Vocabulary" %}</a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% with current_url="" %}
                        {% include 'util/paginator.html' %}
                    {% endwith %}
                </div>
            {% endif %}



		</div>
	</div>


{% endblock %}

{% block scripts %}
<script>
    $("#translate-icon").on('click', function() {
        var value = !$("#id_translate").attr('checked');
        $("#id_translate").attr('checked', value);
        if (value) {
            $("#translate-icon").addClass("enabled");
            $("#localization-label").html("Localization ON");
        } else {
            $("#translate-icon").removeClass("enabled");
            $("#localization-label").html("Localization OFF");
        }
    });

    {% if user.is_superuser and check_for_updates %}
        {% include "vocabulary/run-updates.js" %}
    {% endif %}
</script>
{% endblock %}
